<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

	<h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="titulo">Sistema de Pedidos de Venda</ui:insert></title>
        <h:outputStylesheet library="css" name="sistema.css" />
        <h:outputScript library="js" name="jquery.maskMoney.js"/>
        <h:outputScript library="js" name="validadores.js"/>
	</h:head>

	<h:body>
		<p:ajaxStatus styleClass="ajax-status" onsuccess="configurarMoeda()">
			<f:facet name="start">
				<h:graphicImage library="images" name="loading.gif"/>
			</f:facet>
			<f:facet name="complete">
				<h:outputText value=""/>
			</f:facet>
		</p:ajaxStatus>
	
		<header>
			<div style="float: left">
				<h:link styleClass="texto-logo" outcome="/Home">
					<h:outputLabel styleClass="texto-logo">Sistema de Pedidos de Venda</h:outputLabel>
				</h:link>
			</div>
			
			<div style="float: right; margin-right: 110px">
				<span style="float: left; height: 30px; line-height: 30px; margin-right: 60px">
				Bem-vindo #{seguranca.nomeUsuario}!
				</span>
				
				<h:form style="display: inline-block">
					<p:menubar styleClass="menu-sistema">
						<p:submenu label="Cadastros">
							<p:menuitem value="Clientes" outcome="/view/cliente/pesquisa" />
							<p:separator/>
							<p:menuitem value="Categorias" outcome="/view/categoria/pesquisa"/>
							<p:menuitem value="Produtos" outcome="/view/produto/pesquisa" />
						</p:submenu>
						<p:submenu label="Pedidos">
							<p:menuitem value="Novo pedido" outcome="/view/pedido/cadastro" />
							<p:menuitem value="Pesquisa" outcome="/view/pedido/pesquisa" />
						</p:submenu>
						<p:submenu label="Relatórios">
							<p:menuitem value="Pedidos emitidos" outcome="/view/relatorio/RelatorioPedidosEmitidos" />
						</p:submenu>
						<p:submenu label="Seguraça">
							<p:menuitem value="Permissão" outcome="/view/permissao/pesquisa" />
							<p:menuitem value="Perfil" outcome="/view/perfil/pesquisa" />
							<p:menuitem value="Usuários" outcome="/view/usuario/pesquisa" />
						</p:submenu>
						<p:menuitem value="Sair" url="/logout" />
					</p:menubar>
				</h:form>
			</div>
			<div style="clear: both"></div>
		</header>

		<div id="conteudo">
			<ui:insert name="corpo"/>
		</div>
		
		<p:separator style="margin-top: 20px"/>
		
		<footer>
			Optimized Solutions todos os direitos reservados
		</footer>
		
		<script>
			function configurarMoeda() {
				$(".moeda").maskMoney({ decimal: ",", thousands: ".", allowZero: true });
			}
			
			$(document).ready(function() {
				configurarMoeda();
			});
		</script>
	</h:body>
	
</html>