<ui:composition template="/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo"></ui:define>
    
    <ui:define name="corpo">
    	<f:metadata>
    		<o:viewParam name="cliente" value="#{clienteBean.selecionado}" />
    		<f:viewAction action="#{clienteBean.inicializar}" />
    	</f:metadata>

    	<h:form id="frm">
			<p:focus context="frm" />
			
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:button value="Novo" outcome="/view/cliente/cadastro" />
	    			<p:commandButton value="Salvar" id="botaoSalvar"
	    				action="#{clienteBean.salvar}" update="@form"
	    				validateClient="false" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Pesquisa" outcome="/view/cliente/pesquisa" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    		
	    		<p:outputLabel value="Nome" for="nome"/>
	    		<p:inputText id="nome" size="60" maxlength="80" value="#{clienteBean.selecionado.nome}" />
	    		
		        <p:outputLabel for="tipo" value="Tipo" />
		        <p:selectOneRadio id="tipo" value="#{clienteBean.selecionado.tipo}" unselectable="true">
		            <f:selectItems value="#{clienteBean.tipoPessoa}" />
		        </p:selectOneRadio>
		        
	    		<p:outputLabel value="CNPJ" for="documentoReceitaFederal"/>
	    		<p:inputText id="documentoReceitaFederal" size="60" maxlength="80" value="#{clienteBean.selecionado.documentoReceitaFederal}" />
	    		
	    			    		<p:outputLabel value="Email" for="email"/>
	    		<p:inputText id="email" size="60" maxlength="80" value="#{clienteBean.selecionado.email}" />
	    		
	    	</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>