<ui:composition template="/templates/padrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<ui:define name="title">${msg['cliente.title']}</ui:define>
<ui:define name="operacao">${msg['commons.visualizar']}</ui:define>

<ui:define name="popup"><seinfra:clientePopup formulario="#{clienteBean}" editando="true"/></ui:define>

<ui:define name="sideBar"><seinfra:menuLeft value="cliente"/></ui:define>
<ui:define name="toolbar"><seinfra:toolbar formulario="#{clienteBean}" model="cliente" novo="true" salvar="true" fechar="true" /></ui:define>

<ui:define name="body">

    <div class="box ${tipo}">
        <div class="box-body">
        
                <p:dataTable id="clienteTable" value="#{clienteBean.model}" var="cliente"
	    		style="margin-top: 20px" emptyMessage="Nenhum cliente encontrado." tableStyleClass="table table-bordered table-hover dataTable"
				rows="5" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom" lazy="true">
		    	
                <p:column headerText="#{msg['cliente.id']}" styleClass="col-checkbox"><h:outputText value="#{cliente.id}" /></p:column>
                <p:column headerText="#{msg['cliente.nome']}" styleClass="col-esquerdo"><h:outputText value="#{cliente.nome}" /></p:column>
                <p:column headerText="${msg['cliente.email']}" styleClass="col-esquerdo"><h:outputText value="#{cliente.email}" posvalue="%"/></p:column>
                
                <p:column styleClass="col-id">
                    <p:commandLink styleClass="neutral-icon" action="#{clienteBean.selecionar(cliente)}" process="@this"
                     oncomplete="abrirPopup('clientePopup');">
                        <seinfra:icon editar="true"/>
                        </p:commandLink>
               
                </p:column>
                
                <p:commandButton icon="ui-icon-pencil" title="Editar"
	    					process="@this" action="#{clienteBean.editar}">
	    				<f:setPropertyActionListener target="#{clienteBean.selecionado}" 
	    					value="#{cliente}" />
	    			</p:commandButton>
                
                <p:column styleClass="col-id">
                    <p:commandLink styleClass="alert-icon" action="#{clienteBean.excluir(cliente)}" update="@form" process="@this" pt:data-confirma-mensagem="${msg['commons.mensagem.confirma.exclusao']}"><seinfra:icon icon="excluir"/></p:commandLink>
                </p:column>
                
            </p:dataTable>
        </div>
    </div>

</ui:define>

</ui:composition>
