/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: '682WebIcons';
  src: url('../fonts/682-web-icons.eot?v=4.6.3');
  src: url('../fonts/682-web-icons.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/682-web-icons.woff2?v=4.6.3') format('woff2'), url('../fonts/682-web-icons.woff?v=4.6.3') format('woff'), url('../fonts/682-web-icons.ttf?v=4.6.3') format('truetype'), url('../fonts/682-web-icons.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wi {
  display: inline-block;
  font: normal normal normal 14px/1 682WebIcons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.wi-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.wi-2x {
  font-size: 2em;
}
.wi-3x {
  font-size: 3em;
}
.wi-4x {
  font-size: 4em;
}
.wi-5x {
  font-size: 5em;
}
.wi-fw {
  width: 1.28571429em;
  text-align: center;
}
.wi-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.wi-ul > li {
  position: relative;
}
.wi-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.wi-li.wi-lg {
  left: -1.85714286em;
}
.wi-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.wi-pull-left {
  float: left;
}
.wi-pull-right {
  float: right;
}
.wi.wi-pull-left {
  margin-right: .3em;
}
.wi.wi-pull-right {
  margin-left: .3em;
}
.wi-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.wi-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes wi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes wi-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.wi-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.wi-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wi-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .wi-rotate-90,
:root .wi-rotate-180,
:root .wi-rotate-270,
:root .wi-flip-horizontal,
:root .wi-flip-vertical {
  filter: none;
}
.wi-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.wi-stack-1x,
.wi-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.wi-stack-1x {
  line-height: inherit;
}
.wi-stack-2x {
  font-size: 2em;
}
.wi-inverse {
  color: #ffffff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}


.wi-682:before { content: "\e01ef"; }
.wi-seobra:before { content: "\e01ee"; }
.wi-obraplus:before { content: "\e01ed"; }

.wi-scatter-chart:before { content: "\e019f"; }
.wi-bubbles-chart:before { content: "\e01a0"; }
.wi-spline-chart:before { content: "\e01a1"; }
.wi-line-chart:before { content: "\e01a2"; }
.wi-line-arrow-chart:before { content: "\e01a3"; }
.wi-column-chart:before { content: "\e01a4"; }
.wi-bar-chart:before { content: "\e01a5"; }
.wi-area-chart:before { content: "\e01a6"; }
.wi-tree-map-chart:before { content: "\e01a7"; }
.wi-donut-chart:before { content: "\e01a8"; }
.wi-pie-chart:before { content: "\e01a9"; }
.wi-area-spline-chart:before { content: "\e01aa"; }
.wi-pyramid-chart:before { content: "\e01ab"; }
.wi-funnel-chart:before { content: "\e01ac"; }
.wi-boxplot-chart:before { content: "\e01ad"; }







