
/*****************************************************************************************
 ************************************** PRIMEFACES ***************************************
 *****************************************************************************************/

.ui-tree .ui-treenode-label { margin: 1px 0 0 0; }

.ui-datatable-empty-message td { display: none; }

.form-group .ui-autocomplete, .form-label-group .ui-autocomplete { width: 100%;}
.ui-state-highlight { background-color: #f7f7f7;}
.ui-autocomplete-panel { background-color: #ffffff; }

/*.ui-widget .ui-widget { font-size: 14px !important; }*/
/*.ui-widget-content a.btn { color: #fff !important; }*/

.ui-panelgrid .ui-panelgrid-cell {
    border: 1px solid #f4f4f4;
    padding: 8px;
}

.ui-fileupload { width: 100%; }
.ui-fileupload-content { display: none; }
.ui-fileupload-buttonbar { display: table; width: 100%; height: 230px; }
.ui-fileupload-buttonbar .ui-button { width: 100%; border: 2px dashed #999; display: table-cell; vertical-align: middle;}
.ui-fileupload-choose .ui-c { font-size: 24px; color: #999; min-heitgh: 80px; padding: 10px; width: 100%; }
.ui-fileupload-choose .ui-c .icon { font-size: 36px; }
.ui-fileupload-choose .ui-c p { line-height: 1.5em; }
.ui-fileupload-choose input { transform: none !important; font-size: 1em; height: 100%; width: 100%; opacity: 1; }


/* .ui-fileupload-choose .ui-c { position: absolute; right: 32px; top: 32px; width: 32px; height: 32px; opacity: 0.3; }
.ui-fileupload-choose .ui-c:hover { opacity: 1; }
.ui-fileupload-choose .ui-c:before, .ui-fileupload-choose .ui-c:after {
    position: absolute; left: 15px; content: ' '; height: 33px; width: 2px; background-color: #333;
}
.ui-fileupload-choose .ui-c:after { transform: rotate(-90deg); } */

.ui-dialog .ui-widget-header { display: none; }

.ui-dialog .ui-dialog-content { padding: 0; background-color: #fff !important;}
.ui-tabs { padding: 0 !important; }

.ui-dialog-content .ui-widget-content { background: #fff; }

.ui-widget-overlay { background-color: #000; opacity: 0.3; }

.ui-icon-triangle-1-s:before { content: "\f146"; }
.ui-icon-triangle-1-e:before { content: "\f0fe"; }
.ui-treetable .ui-treetable-toggler { margin: 4px 4px 0 0; }

.ui-tree { width: auto; }
.ui-tree .ui-tree-toggler { padding-top: 5px; width: 16px; }

.ui-datatable table { table-layout: auto; }

.ui-icon {  text-indent: none; }

/* Copiado do FontAwesome*/
.ui-icon {
    display: inline-block;
    /*font-family: FontAwesome;*/
    font-family: 'Font Awesome 5 Free';
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}

