:root {
    
    --color-primary: #3C8DBC;
    
    --color-orange: #F39C12;
    --color-green: #00A65A;
    --color-red: #DD4B39;
    --color-gray-dark: #646464;
    --color-gray-light: #eee;
    
    --color-success: var(--color-green);
    
    --color-ABERTO        : #00C0EF;
    --color-AVANCADO      : #59C594;
    --color-APROVADO      : var(--color-green);
    --color-ATRASADO      : var(--color-red);
    --color-CANCELADO     : var(--color-gray-dark);
    --color-REVISAR       : var(--color-gray-dark);
    --color-CONCLUIDO     : var(--color-green);
    --color-EM_ANDAMENTO  : #00A7D0;
    --color-INFO          : #00A7D0;
    --color-EM_ELABORACAO : #00C0EF;
    --color-REPLANEJADO   : var(--color-gray-dark);
    --color-PENDENTE      : var(--color-orange);
}


body { padding-right: 0 !important; color: #444; }


.mini-destaque { font-weigth: bold; text-transform: uppercase; font-size: 8px; }
.b, .strong, .negrito { font-weight: 700; }
.i, .italico { font-style: italic; }

.font20  { font-size: 20px; }

.red     { color: var(--color-red); }
.blue    { color: #3c8dbc; }
.green   { color: var(--color-green); }
.white   { color: #ffffff; }
.white-important   { color: #ffffff !important; }

.red-important   { color: var(--color-red) !important; }
.blue-important  { color: #3c8dbc !important; }
.green-important { color: var(--color-green) !important; }
.white-important { color: #ffffff !important; }

a:link       { text-decoration: none; color: #444; /*#008292*/ }
a:visited    { text-decoration: none; color: #444; /*#008292*/ }
a:hover      { text-decoration: none; }

.alert { list-style: none; }
.alert .title { list-style: none; margin: 0;}

form#formulario ul#mensagens-sistema { padding: 2% 1% 0% 1%; }

input.currency {text-align: right; width: 100px;}
span.currency {text-align: right; width: 100px; white-space: nowrap; }

textarea { resize: none; height: 100px; }
textarea, .textarea.readonly { max-height: calc(100vh - 20px); }

.height-100 { height: 100px; }
.height-200 { height: 200px; }
.height-300 { height: 300px; }
.height-400 { height: 400px; }
.height-500 { height: 500px; }

.maiusculo, input.maiusculo, textarea.maiusculo {text-transform: uppercase; }
.minusculo, input.minusculo, textarea.minusculo {text-transform: lowercase; }

.required { color: red; padding-left: 2px; font-size: 11px; }
.input.required { color: red; padding-right: 15px; font-size: 11px; display: block; height: 34px;
    pointer-events: none; position: absolute; left: 0; text-align: center; top: 0; width: 34px; z-index: 2;}

.margin-input { margin-bottom: 15px; }
.control-label .margin-input { margin-bottom: 5px; }
.control-label .ajuda { margin-top: 5px }

.marginRow { margin-bottom: 10px; }
.margin-bottom-5  { margin-bottom: 5px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-top-25 { margin-top: 25px; }
.margin-top-bottom-10 { margin-bottom: 10px; margin-top: 10px; }
.margin-top-button { margin-top: 25px; }

.margin-horizontal-5 { margin-left: 5px; margin-right: 5px; }

.checkbox label { padding-left: 5px; }
.checkbox .ajuda { padding-left: 5px; }

.nowrap { white-space: nowrap; }

.float-left { float: left;}
.float-right { float: right;}

.border-top { border-top: 2px solid #e5e5e5;}
.border-bottom { border-bottom: 2px solid #e5e5e5;}
.border-gray { border: 1px solid #ddd; border-radius: 5px;}

.hidden, .dispoff { display: none !important; }

.sidebar-menu > li.selecionado a { background-color: #284444 !important; }

.disabled, .readonly { background-color: #eee; opacity: 1; }
.disabled.checked { background-color: #999; }
.disabled { cursor: not-allowed; }
.readonly { cursor: default; }


a.warning-text, .warning-text, .warning-icon, a.warning-icon { color: var(--color-orange) !important; }
/* Cancelar, erros, excluir, bloquear etc */
a.alert-text, .alert-text, .alert-icon, a.alert-icon { color: #DF4C39 !important; }
/* Novo, salvar etc */
a.success-text, .success-text, .success-icon, a.success-icon { color: var(--color-success) !important; }
/* Buscar, calcular, desbloquear, duplicar etc */
a.neutral-text, .neutral-text, .neutral-icon, a.neutral-icon { color: var(--color-primary) !important; }
/* Buscar, calcular, desbloquear, duplicar etc */
a.default-text, .default-text, .default-icon, a.default-icon { color: #D2D6DE !important; }
/* Buscar, calcular, desbloquear, duplicar etc */
a.reject-text, .reject-text, .reject-icon, a.reject-icon { color: #646464 !important; }

.disabled > td { color: #D2D6DE; }
.disabled > a, .disabled > a > .label, .nav > li.disabled > a  { color: #D2D6DE; }
.nav > li.disabled > a:hover .label  { color: #777; }
.nav > li.disabled { background-color: white; }

.bg-warning { background-color: var(--color-orange) !important; }
.bg-alert   { background-color: #DF4C39 !important; }
.bg-success { background-color: var(--color-success) !important; }
.bg-neutral { background-color: var(--color-primary) !important; }
.bg-info    { background-color: var(--color-INFO) !important; color: #fff; }
.bg-reject  { background-color: var(--color-gray-dark) !important; color: #fff; }

.toolbar .warning-icon:hover, .toolbar .alert-icon:hover,
.toolbar .success-icon:hover, .toolbar .neutral-icon:hover { background-color: #E2E4EA; border-radius: 3px; }

.margin-buttons { margin: 0 3px;}

.buttons-right { padding-left: 0; width: 14px; position: absolute; right: 5px;}
.input-left { width: calc(100% - 16px); padding-left: 5px; padding-right: 5px; float: left; position: relative; }

.parenteses { white-space: nowrap; }
.parenteses::before { content: " ("; }
.parenteses::after { content: ") "; }
.parenteses:empty { display: none; }

.subtitle::before { content: " [ "; }
.subtitle::after { content: " ]"; }
.subtitle:empty { display: none; }

.icon-hidden { /*margin-left: -15px;*/ margin-top: 3px; display: none; position: absolute;}
.item:hover .icon-hidden { display: initial; }

.projeto-arquivo.thumbnail { margin-bottom: 10px; }
.projeto-arquivo.thumbnail .imagem { width: 102px; max-height: 102px; float: left; }
.projeto-arquivo.thumbnail .detalhes { margin-left: 106px; }
.projeto-arquivo.thumbnail .detalhes .titulo { margin-bottom: 4px; font-weight: bold;}

.miniatura { border: 1px solid; margin: 5px; padding: 2px; }

.row-zebrado .row:nth-child(even) { background-color: var(--color-gray-light) }

/******************************** CORES STATUS CRONOGRAMA ********************************/

tr.has-error td, td.has-error { color: #dd4b39; }
tr.has-warning td, td.has-warning { color: #f39c12; }
tr.has-success td, td.has-success { color: var(--color-green); }

td.COMPLETO     { color: var(--color-green); }
td.INCOMPLETO   { color: var(--color-orange); }
td.ULTRAPASSADO { color: var(--color-red); }

.cronograma tbody td.valor.COMPLETO:not(:empty) {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, var(--color-green) 5px, rgba(0, 0, 0, 0) 0%) repeat scroll 0 0; }
.cronograma tbody td.valor.INCOMPLETO:not(:empty) {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, var(--color-orange) 5px, rgba(0, 0, 0, 0) 0%) repeat scroll 0 0; }
.cronograma tbody td.valor.ULTRAPASSADO:not(:empty) {
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, var(--color-red) 5px, rgba(0, 0, 0, 0) 0%) repeat scroll 0 0; }

/********************************** CORES NOTIFICACOES ***********************************/

.label.INFO    { background-color: var(--color-primary); color: white; }
.label.WARNING { background-color: var(--color-orange); color: white; }
.label.ERROR   { background-color: var(--color-red); color: white; }
.label.SUCCESS { background-color: var(--color-green); color: white; }
.label.DEFAULT { background-color: var(--color-gray-light); color: var(--color-gray-dark)}
.label.REVIEW  { background-color: var(--color-gray-dark); color: white;}

/********************************* CORES STATUS MEDICOES *********************************/

.box.box-solid.APROVADO > .box-header  { background-color: var(--color-APROVADO); color: #fff; }
.box.box-solid.PENDENTE > .box-header  { background-color: #f39c12; color: #fff; }
.box.box-solid.ABERTO > .box-header    { background-color: var(--color-ABERTO); color: #fff; }
.box.box-solid.CANCELADO > .box-header { background-color: var(--color-CANCELADO); color: #fff; }

.box.box-solid.APROVADO  { border: 1px solid var(--color-APROVADO); }
.box.box-solid.PENDENTE  { border: 1px solid #f39c12; }
.box.box-solid.ABERTO    { border: 1px solid var(--color-ABERTO); }
.box.box-solid.CANCELADO { border: 1px solid var(--color-CANCELADO); }

/****************************** CORES STATUS PLANO EMPRESA *******************************/

.box.GRATUITO { border-top-color: #DD4B39; }
.box.TESTE    { border-top-color: #F39C12; }
.box.PREMIUM  { border-top-color: #00A65A; }
.box.ADMIN    { border-top-color: #000000; }

.box.box-solid.GRATUITO { border: 1px solid #DD4B39; }
.box.box-solid.TESTE    { border: 1px solid #F39C12; }
.box.box-solid.PREMIUM  { border: 1px solid #00A65A; }
.box.box-solid.ADMIN    { border: 1px solid #000000; }

.box.box-solid.GRATUITO > .box-header { background-color: #DD4B39; color: #fff; }
.box.box-solid.TESTE > .box-header    { background-color: #F39C12; color: #fff; }
.box.box-solid.PREMIUM > .box-header  { background-color: #00A65A; color: #fff; }
.box.box-solid.ADMIN > .box-header    { background-color: #000000; color: #fff; }

.nav-tabs-custom > .nav-tabs > li.active.GRATUITO { border-color: #DD4B39; }
.nav-tabs-custom > .nav-tabs > li.active.TESTE { border-color: #F39C12; }
.nav-tabs-custom > .nav-tabs > li.active.PREMIUM { border-color: #00A65A; }
.nav-tabs-custom > .nav-tabs > li.active.ADMIN { border-color: #000000; }

.nav-tabs-custom > .nav-tabs > li.active.GRATUITO a { border-color: #DD4B39; }
.nav-tabs-custom > .nav-tabs > li.active.TESTE a { border-color: #F39C12; }
.nav-tabs-custom > .nav-tabs > li.active.PREMIUM a { border-color: #00A65A; }
.nav-tabs-custom > .nav-tabs > li.active.ADMIN a { border-color: #000000; }

.nav-tabs-custom.GRATUITO > .nav-tabs { border-bottom-color: #DD4B39; }
.nav-tabs-custom.TESTE > .nav-tabs { border-bottom-color: #F39C12; }
.nav-tabs-custom.PREMIUM > .nav-tabs { border-bottom-color: #00A65A; }
.nav-tabs-custom.ADMIN > .nav-tabs { border-bottom-color: #000000; }

.nav-tabs-custom.GRATUITO > .tab-content { border: 1px solid #DD4B39; }
.nav-tabs-custom.TESTE > .tab-content { border: 1px solid #F39C12; }
.nav-tabs-custom.PREMIUM > .tab-content { border: 1px solid #00A65A; }
.nav-tabs-custom.ADMIN > .tab-content { border: 1px solid #000000; }

.nav-tabs-custom > .nav-tabs > li.GRATUITO a { color: #DD4B39 !important; }
.nav-tabs-custom > .nav-tabs > li.TESTE a { color: #F39C12 !important; }
.nav-tabs-custom > .nav-tabs > li.PREMIUM a { color: #00A65A !important; }
.nav-tabs-custom > .nav-tabs > li.ADMIN a { color: #000000 !important; }


/********************************* CORES STATUS PROJETOS *********************************/

.box.ABERTO        { border-top-color: var(--color-ABERTO) !important; }
.box.AVANCADO      { border-top-color: var(--color-AVANCADO) !important; }
.box.APROVADO      { border-top-color: var(--color-APROVADO) !important; }
.box.ATRASADO      { border-top-color: var(--color-ATRASADO) !important; }
.box.CANCELADO     { border-top-color: var(--color-CANCELADO) !important; }
.box.REVISAR       { border-top-color: var(--color-REVISAR) !important; }
.box.CONCLUIDO     { border-top-color: var(--color-CONCLUIDO) !important; }
.box.EM_ANDAMENTO  { border-top-color: var(--color-EM_ANDAMENTO) !important; }
.box.EM_ELABORACAO { border-top-color: var(--color-EM_ELABORACAO) !important; }
.box.REPLANEJADO   { border-top-color: var(--color-REPLANEJADO) !important; }
.box.PENDENTE      { border-top-color: var(--color-PENDENTE) !important; }

.box.box-solid.ABERTO        { border: 1px solid var(--color-ABERTO) !important; }
.box.box-solid.AVANCADO      { border: 1px solid var(--color-AVANCADO) !important; }
.box.box-solid.APROVADO      { border: 1px solid var(--color-APROVADO) !important; }
.box.box-solid.ATRASADO      { border: 1px solid var(--color-ATRASADO) !important; }
.box.box-solid.CANCELADO     { border: 1px solid var(--color-CANCELADO) !important; }
.box.box-solid.REVISAR       { border: 1px solid var(--color-REVISAR) !important; }
.box.box-solid.CONCLUIDO     { border: 1px solid var(--color-CONCLUIDO) !important; }
.box.box-solid.EM_ANDAMENTO  { border: 1px solid var(--color-EM_ANDAMENTO) !important; }
.box.box-solid.EM_ELABORACAO { border: 1px solid var(--color-EM_ELABORACAO) !important; }
.box.box-solid.REPLANEJADO   { border: 1px solid var(--color-REPLANEJADO) !important; }
.box.box-solid.PENDENTE      { border: 1px solid var(--color-PENDENTE) !important; }

.widget-user-header.ABERTO        { background-color: var(--color-ABERTO) !important; }
.widget-user-header.AVANCADO      { background-color: var(--color-AVANCADO) !important; }
.widget-user-header.ATRASADO      { background-color: var(--color-ATRASADO) !important; }
.widget-user-header.CANCELADO     { background-color: var(--color-CANCELADO) !important; }
.widget-user-header.REVISAR       { background-color: var(--color-REVISAR) !important; }
.widget-user-header.CONCLUIDO     { background-color: var(--color-CONCLUIDO) !important; }
.widget-user-header.EM_ANDAMENTO  { background-color: var(--color-EM_ANDAMENTO) !important; }
.widget-user-header.EM_ELABORACAO { background-color: var(--color-EM_ELABORACAO) !important; }
.widget-user-header.REPLANEJADO   { background-color: var(--color-REPLANEJADO) !important; }
.widget-user-header.PENDENTE      { background-color: var(--color-PENDENTE) !important; }

.text-ABERTO        { color: var(--color-ABERTO) !important; }
.text-AVANCADO      { color: var(--color-AVANCADO) !important; }
.text-APROVADO      { color: var(--color-APROVADO) !important; }
.text-ATRASADO      { color: var(--color-ATRASADO) !important; }
.text-CANCELADO     { color: var(--color-CANCELADO) !important; }
.text-REVISAR       { color: var(--color-REVISAR) !important; }
.text-CONCLUIDO     { color: var(--color-CONCLUIDO) !important; }
.text-EM_ANDAMENTO  { color: var(--color-EM_ANDAMENTO) !important; }
.text-EM_ELABORACAO { color: var(--color-EM_ELABORACAO) !important; }
.text-REPLANEJADO   { color: var(--color-REPLANEJADO) !important; }
.text-PENDENTE      { color: var(--color-PENDENTE) !important; }

.bg-ABERTO        { background-color: var(--color-ABERTO) !important; color: #fff; }
.bg-AVANCADO      { background-color: var(--color-AVANCADO) !important; color: #fff; }
.bg-APROVADO      { background-color: var(--color-APROVADO) !important; color: #fff; }
.bg-ATRASADO      { background-color: var(--color-ATRASADO) !important; color: #fff; }
.bg-CANCELADO     { background-color: var(--color-CANCELADO) !important; color: #fff; }
.bg-REVISAR       { background-color: var(--color-REVISAR) !important; color: #fff; }
.bg-REJEITAR      { background-color: var(--color-REVISAR) !important; color: #fff; }
.bg-CONCLUIDO     { background-color: var(--color-CONCLUIDO) !important; color: #fff; }
.bg-EM_ANDAMENTO  { background-color: var(--color-EM_ANDAMENTO) !important; color: #fff; }
.bg-EM_ELABORACAO { background-color: var(--color-EM_ELABORACAO) !important; color: #fff; }
.bg-NO_PRAZO      { background-color: #00a65a !important; color: #fff; }
.bg-REPLANEJADO   { background-color: var(--color-REPLANEJADO) !important; color: #fff; }
.bg-PENDENTE      { background-color: var(--color-PENDENTE) !important; color: #fff; }

/************************************** TABS CORES ***************************************/

.nav-tabs-custom > .nav-tabs > li.active.REPLANEJADO { border-color: var(--color-REPLANEJADO); }
.nav-tabs-custom > .nav-tabs > li.active.CANCELADO { border-color: var(--color-CANCELADO); }
.nav-tabs-custom > .nav-tabs > li.active.EM_ANDAMENTO { border-color: var(--color-EM_ANDAMENTO); }
.nav-tabs-custom > .nav-tabs > li.active.CONCLUIDO { border-color: var(--color-CONCLUIDO); }
.nav-tabs-custom > .nav-tabs > li.active.ABERTO { border-color: var(--color-ABERTO); }
.nav-tabs-custom > .nav-tabs > li.active.APROVADO { border-color: var(--color-APROVADO); }
.nav-tabs-custom > .nav-tabs > li.active.PENDENTE { border-color: var(--color-PENDENTE); }
.nav-tabs-custom > .nav-tabs > li.active.REVISAR { border-color: var(--color-REVISAR); }

.nav-tabs-custom > .nav-tabs > li.active.REPLANEJADO a { border-color: var(--color-REPLANEJADO); }
.nav-tabs-custom > .nav-tabs > li.active.CANCELADO a { border-color: var(--color-CANCELADO); }
.nav-tabs-custom > .nav-tabs > li.active.EM_ANDAMENTO a { border-color: var(--color-EM_ANDAMENTO); }
.nav-tabs-custom > .nav-tabs > li.active.CONCLUIDO a { border-color: var(--color-CONCLUIDO); }
.nav-tabs-custom > .nav-tabs > li.active.ABERTO a { border-color: var(--color-ABERTO); }
.nav-tabs-custom > .nav-tabs > li.active.APROVADO a { border-color: var(--color-APROVADO); }
.nav-tabs-custom > .nav-tabs > li.active.PENDENTE a { border-color: var(--color-PENDENTE); }
.nav-tabs-custom > .nav-tabs > li.active.REVISAR a { border-color: var(--color-REVISAR); }

.nav-tabs-custom.REPLANEJADO > .nav-tabs { border-bottom-color: var(--color-REPLANEJADO); }
.nav-tabs-custom.CANCELADO > .nav-tabs { border-bottom-color: var(--color-CANCELADO); }
.nav-tabs-custom.EM_ANDAMENTO > .nav-tabs { border-bottom-color: var(--color-EM_ANDAMENTO); }
.nav-tabs-custom.CONCLUIDO > .nav-tabs { border-bottom-color: var(--color-CONCLUIDO); }
.nav-tabs-custom.ABERTO > .nav-tabs { border-bottom-color: var(--color-ABERTO); }
.nav-tabs-custom.APROVADO > .nav-tabs { border-bottom-color: var(--color-APROVADO); }
.nav-tabs-custom.PENDENTE > .nav-tabs { border-bottom-color: var(--color-PENDENTE); }
.nav-tabs-custom.REVISAR > .nav-tabs { border-bottom-color: var(--color-REVISAR); }

.nav-tabs-custom.REPLANEJADO > .tab-content { border: 1px solid var(--color-REPLANEJADO); }
.nav-tabs-custom.CANCELADO > .tab-content { border: 1px solid var(--color-CANCELADO); }
.nav-tabs-custom.EM_ANDAMENTO > .tab-content { border: 1px solid var(--color-EM_ANDAMENTO); }
.nav-tabs-custom.CONCLUIDO > .tab-content { border: 1px solid var(--color-CONCLUIDO); }
.nav-tabs-custom.ABERTO > .tab-content { border: 1px solid var(--color-ABERTO); }
.nav-tabs-custom.APROVADO > .tab-content { border: 1px solid var(--color-APROVADO); }
.nav-tabs-custom.PENDENTE > .tab-content { border: 1px solid var(--color-PENDENTE); }
.nav-tabs-custom.REVISAR > .tab-content { border: 1px solid var(--color-REVISAR); }

.nav-tabs-custom > .nav-tabs > li.REPLANEJADO a { color: var(--color-REPLANEJADO) !important; }
.nav-tabs-custom > .nav-tabs > li.CANCELADO a { color: var(--color-CANCELADO) !important; }
.nav-tabs-custom > .nav-tabs > li.EM_ANDAMENTO a { color: var(--color-EM_ANDAMENTO) !important; }
.nav-tabs-custom > .nav-tabs > li.CONCLUIDO a { color: var(--color-CONCLUIDO) !important; }
.nav-tabs-custom > .nav-tabs > li.ABERTO a { color: var(--color-ABERTO) !important; }
.nav-tabs-custom > .nav-tabs > li.APROVADO a { color: var(--color-APROVADO) !important; }
.nav-tabs-custom > .nav-tabs > li.PENDENTE a { color: var(--color-PENDENTE) !important; }
.nav-tabs-custom > .nav-tabs > li.REVISAR a { color: var(--color-REVISAR) !important; }

.btn.ABERTO       { background-color: var(--color-ABERTO); border-color: #30BBBB; }
.btn.CANCELADO    { background-color: var(--color-CANCELADO); border-color: #111111; }
.btn.REPLANEJADO  { background-color: var(--color-REPLANEJADO); border-color: #111111; }
.btn.CONCLUIDO    { background-color: #00a65a; border-color: #008d4c; }
.btn.EM_ANDAMENTO { background-color: var(--color-EM_ANDAMENTO); border-color: var(--color-EM_ANDAMENTO); }
.btn.APROVADO     { background-color: var(--color-APROVADO); border-color: #00A7D0; }
.btn.APROVADO     { background-color: var(--color-PENDENTE); border-color: #00A7D0; }
.btn.REVISAR     { background-color: var(--color-REVISAR); border-color: #00A7D0; }

.btn.ABERTO, .btn.CANCELADO, .btn.CONCLUIDO, .btn.EM_ANDAMENTO, .btn.APROVADO, .btn.REPLANEJADO { color: #fff; }

.btn.ABERTO:hover, .btn.ABERTO:focus, .btn.CANCELADO:hover, .btn.CANCELADO:focus, .btn.APROVADO:focus,
.btn.CONCLUIDO:hover, .btn.CONCLUIDO:focus, .btn.EM_ANDAMENTO:hover, .btn.EM_ANDAMENTO:focus, .btn.EM_APROVADO:focus
.btn.REPLANEJADO:hover, .btn.REPLANEJADO:focus {
    color: #fff; }


/*****************************************************************************************
 *************************** TAREFA - TAREFA - TAREFA - TAREFA ***************************
 *****************************************************************************************/

.panel-list-collapse .tree-tarefas { float: left; width: 300px; margin: 0 5px;}
.panel-list-collapse .tree-tarefas .link-tarefa { display: block; white-space: nowrap; }
.panel-list-collapse .tree-tarefas .link-tarefa.label { padding: 5px; }
.panel-list-collapse .tree-tarefas .link-tarefa .descricao { margin-left: 4px; }
.panel-list-collapse .tree-tarefas .box-body { overflow: auto; }

.panel-list-collapse .table-tarefas { float: left; width: calc(100% - 320px); margin: 0 5px; /*margin-left: 310px;*/ }

.panel-list-collapse.tree-collapse .table-tarefas { width: calc(100% - 110px); /*margin-left: 100px;*/ }
.panel-list-collapse.tree-collapse .tree-tarefas { width: 90px; }
.panel-list-collapse.tree-collapse .tree-tarefas .link-tarefa .descricao { display: none; }
.panel-list-collapse.tree-collapse .ui-tree .ui-treenode-children { padding: 0; }

.ui-tree .ui-tree-toggler { width: 16px; }

.panel-list-collapse .tree-tarefas, .panel-list-collapse .table-tarefas {
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

.tree-tarefas .box, .table-tarefas .box {
    height:-webkit-calc(100% - 10px); height:-moz-calc(100% - 10px); height: calc(100% - 10px);
}
.tree-tarefas, .table-tarefas {
    height:-webkit-calc(100vh - 100px); height:-moz-calc(100vh - 100px); height:calc(100vh - 100px);
}

.table-tarefas .box-body {
    height:-webkit-calc(100vh - 100px - 110px); height:-moz-calc(100vh - 100px - 110px); height:calc(100vh - 100px - 110px); overflow: auto;
}
.table-tarefas .box-body .ui-datatable-tablewrapper {
    overflow: unset !important;
}

@media screen and (max-width: 992px) {
    .panel-list-collapse .table-tarefas { width: 100%; }
    .panel-list-collapse .tree-tarefas { width: 0; display: none; }
}

/*****************************************************************************************
 *************************** TABELA - TABELA - TABELA - TABELA ***************************
 *****************************************************************************************/

.col-quantidade   {text-align: center; width: 50px;}
.col-currency     {text-align: right; width: 100px; white-space: nowrap;}
.col-checkbox     {text-align: center; width: 50px;}
.col-id           {text-align: center; width: 30px;}
.col-data         {text-align: center; width: 70px;}

.direito, .col-direito           {text-align: right;}
.esquerdo, .col-esquerdo         {text-align: left;}
.justificado, .col-justificado   {text-align: justify;}
.centralizado, .col-centralizado {text-align: center;}

.top    {vertical-align: top;}
.middle {vertical-align: middle;}
.bottom {vertical-align: bottom;}

.col-30   {width: 30px; }
.col-50   {width: 50px; }
.col-60   {width: 60px; }
.col-70   {width: 70px; }
.col-80   {width: 80px; }
.col-100  {width: 100px; }
.col-110  {width: 110px; }
.col-120  {width: 120px; }
.col-150  {width: 150px; }
.col-200  {width: 200px; }
.col-250  {width: 250px; }
.col-300  {width: 300px; }
.col-400  {width: 400px; }

th, td[role=columnheader], tfoot td { font-weight: bold; }

table.nopadding td { padding: 0px; }
table.noheader thead { display: none; }

.box-body table { margin-bottom: 0px; }
.box-header .form-group { margin-bottom: 0px; }


/*****************************************************************************************
 *************************** NAVTAB - NAVTAB - NAVTAB - NAVTAB ***************************
 *****************************************************************************************/

.nav-tabs-custom { background: none; box-shadow: none; margin-bottom: 0px; }

.nav-tabs-custom > .nav-tabs { min-height: 44px; }
.nav-tabs-custom > .nav-tabs > li.primary a { color: #3c8dbc !important; }

.nav-tabs-custom > .nav-tabs > li.active { border-radius: 3px; }
.nav-tabs-custom > .nav-tabs > li.active a { border-bottom: none !important; }
.nav-tabs-custom > .nav-tabs > li.active.primary { border-color: #3c8dbc; }
.nav-tabs-custom > .nav-tabs > li.active.primary a { border-color: #3c8dbc; }
.nav-tabs-custom > .nav-tabs > li { text-align: center; }

.nav-tabs-custom > .nav-tabs > li > span {
    color: gray !important;
    text-shadow: 0.05em 0.05em 0 #b8c7ce;
    line-height: 1.42857143;
    display: block;
    position: relative;
    border: 1px solid transparent;
    padding: 10px 15px;
}
 
.nav-tabs-custom > .nav-tabs > li.disabled { background: none; }
.nav-tabs-custom > .nav-tabs > li.disabled a { color: gray !important; text-shadow: 0.05em 0.05em 0 #b8c7ce; }

.nav-tabs-custom > .tab-content { border-top: none !important; }
.nav-tabs-custom > .tab-content { box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }

.nav-tabs-custom.primary > .nav-tabs { border-bottom-color: #3c8dbc; }
.nav-tabs-custom.primary > .tab-content { border: 1px solid #3c8dbc; }



/*****************************************************************************************
 ***************************** RADIO - RADIO - RADIO - RADIO *****************************
 *****************************************************************************************/

.radio-item { white-space: nowrap; margin-bottom: 5px;}
.radio-item label { padding: 0 20px 0 5px; margin: 0; font-weight: normal;}
.radio-item.nolabel label, .radio-item label:empty { display: none; }
.radio-item.col-md-* { width: auto; }

input[type=radio] { vertical-align: bottom; }



/*****************************************************************************************
 ***************************** MODAL - MODAL - MODAL - MODAL *****************************
 *****************************************************************************************/

.popup-modal-open { overflow: hidden; }

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom { margin-right: 0 !important; }
.modal { z-index: 2050; padding-right: 0 !important; padding: 0; background: none; border: none; }

.modal.container { max-width: none; }
.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 2040; }
.modal-backdrop.ajaxmodal { z-index: 2299; }
.modal-backdrop.bootbox { z-index: 2199; }
.bootbox.modal { z-index: 2200; }

.ajaxmodal.modal .modal-dialog { width: 90px; }
.ajaxmodal.modal .modal-body { height: 75px; overflow: auto; text-align: center; }
.ajaxmodal.modal { z-index: 2300; margin: calc(50vh - 35px) auto 0; background-color: transparent !important;
  min-width: 90px !important; overflow: hidden; }

.bootbox .modal-dialog { margin: 0px; width: 500px; margin: 10px auto; }
.bootbox.modal { padding-right: 0 !important; }
.modal-dialog { margin: 10px auto; max-width: calc(100vw - 20px); max-height: calc(100vh - 10px); }

.modal-dialog .modal-content { border-radius: 6px; -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }
.modal-dialog .modal-body { overflow: auto; max-height: calc(100vh - 145px) }
.modal-dialog .modal-footer { height: 63px; }

.modal-header { border-bottom-width: 2px; height: 58px; overflow: hidden; }
.modal-footer { border-top-width: 2px; height: 61px; overflow: hidden; }

#ajaxmodal div.ui-dialog-content { text-align: center; padding-top: 28px; }


/*****************************************************************************************
 **************************** SPINNER SPINNER SPINNER SPINNER ****************************
 *****************************************************************************************/
.spinner input { text-align: right; }
.input-group-btn-vertical { position: relative; white-space: nowrap; width: 1%; vertical-align: middle; display: table-cell; }
.input-group-btn-vertical > .btn { display: block; float: none; width: 100%; max-width: 100%; padding: 8px; margin-left: -1px; position: relative; border-radius: 0; }
.input-group-btn-vertical > .btn:first-child { border-top-right-radius: 4px; }
.input-group-btn-vertical > .btn:last-child { margin-top: -2px; border-bottom-right-radius: 4px; }
.input-group-btn-vertical i{ position: absolute; top: 0; left: 4px; }


/*****************************************************************************************
 ************************** PROGRESS PROGRESS PROGRESS PROGRESS **************************
 *****************************************************************************************/

.box-widget .progress { background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0; height: 2px; margin: 5px -10px; border-radius: 0;}
.box-widget .progress .progress-bar { background: #fff none repeat scroll 0 0; }

.user-panel .progress { background: #fff none repeat scroll 0 0; height: 2px; margin: 8px 0 5px 0px; width: 145px; border-radius: 0; }
.user-panel .progress .progress-bar { background: #fff none repeat scroll 0 0; }
.user-panel .progress-description { margin-bottom: 5px; font-size: 12px; }
.user-panel { z-index: 4; }

.info-box .progress { margin: 5px 0px; }


/*****************************************************************************************
 ***************************** TELAS - TELAS - TELAS - TELAS *****************************
 *****************************************************************************************/

/* ------------------------------------------- XS */
@media screen and (max-width: 767px) {
    .col-xs-auto { width: auto; }
    .hidden-xs-label > label { display: none; }
    .modal-body.full-xs { min-height: calc(100vh - 145px); max-height: calc(100vh - 145px); }
    .toolbar { margin-top: 10px !important; font-size: 0.8em !important; }
}
/* ------------------------------------------- SM */
@media screen and (min-width: 768px) {
    .col-sm-auto { width: auto; }
    .hidden-sm-label > label { display: none; }
    .row-eq-height-sm, .row-eq-height-sm > div { display: flex; }
    .bootbox.modal { min-width: 500px; }
}
@media screen and (max-width: 991px) {
}
/* ------------------------------------------- MD */
@media screen and (min-width: 992px) {
    .breadcrumb { margin-top: -7px !important; }
    .col-md-auto { width: auto; }
    .hidden-md-label > label { display: none; }
    .row-eq-height-md, .row-eq-height-md > div { display: flex; }
}
/* ------------------------------------------- LG */
@media screen and (min-width: 1200px) {
    .col-lg-auto { width: auto; }
    .hidden-lg-label > label { display: none; }
    .row-eq-height-lg, .row-eq-height-lg > div { display: flex; }
}