:root {
  --input-padding-x: .8rem; /*.75 da problemas no chrome */
  --input-padding-y: .8rem; /*.75 da problemas no chrome */
}

/*****************************************************************************************
 ************************************** FLOAT LABELS *************************************
 *****************************************************************************************/

.form-label-group { position: relative; margin-bottom: 1rem; display: table; width: 100%; }

.form-label-group .select2-container--default .select2-selection--single,
.form-label-group > input, .form-label-group > textarea, .form-label-group > .outputtext,
.form-label-group .form-control.readonly, .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
    line-height: 1.5;
}

.form-label-group.has-feedback .form-control {
    padding-right: 42.5px;
}

.form-label-group.has-feedback .form-control-feedback {
    top: 1px; right: 1px;
}

.form-label-group > label .ajuda { line-height: 1.5; margin-top: 0;}

.form-label-group > label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
    
  position: absolute; top: 0px; display: block;
  margin-bottom: 0; line-height: 1.5; width: 100%;
  font-size: 12px; color: #495057;
  border: 1px solid transparent; border-radius: .25rem; transition: all .1s ease-in-out;
}

.form-label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
    
  position: absolute; top: 0px; display: block;
  margin-bottom: 0; line-height: 1.5; width: 100%;
  font-size: 12px; color: #495057;
  border: 1px solid transparent; border-radius: .25rem; transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder { font-size: 12px; line-height: 3; }
.form-label-group input:-ms-input-placeholder { font-size: 12px; line-height: 3; }
.form-label-group input::-ms-input-placeholder { font-size: 12px; line-height: 3; }
.form-label-group input::-moz-placeholder { font-size: 12px; line-height: 3; }
.form-label-group input::placeholder { font-size: 12px; line-height: 3; }

.form-label-group textarea:not(:placeholder-shown),
.form-label-group input:not(:placeholder-shown),
.form-label-group .select2-container--default .select2-selection--single,
.form-label-group .outputtext,
.form-label-group .form-control.readonly {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label .required,
.form-label-group .form-control.readonly ~ label .required { font-size: 10px; }

.form-label-group textarea:not(:placeholder-shown) ~ label,
.form-label-group input:not(:placeholder-shown) ~ label,
.form-label-group select.form-control ~ label,
.form-label-group .form-control.readonly ~ label,
.form-label-group.outputtext label,
.form-label-group label.label-readonly {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 10px;
  color: #777;
  top: 0;
}
.form-label-group select.form-control ~ label { width: calc(100% - 20px); }

.form-label-group.spinner label,
.form-label-group .form-control.outputtext:not(.readonly) label,
.form-label-group .form-control.readonly ~ label { left: 0; }

.form-label-group.spinner .input-group-btn-vertical .btn { height: 23px; }

.form-label-group .form-control, .form-label-group .outputtext {
    height: 44px; width: 100%; display: table-cell; vertical-align: middle; }

.form-label-group .textarea.readonly { display: block; }

.form-label-group .form-control-feedback { padding: 6px 12px; }

.form-label-group .select2-container--default .select2-selection--single { height: 44px; vertical-align: middle;}
.form-label-group .select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0;
}

.form-label-group .height-100 { height: 100px; }
.form-label-group .height-200 { height: 200px; }
.form-label-group .height-300 { height: 300px; }
.form-label-group .height-400 { height: 400px; }
.form-label-group .height-500 { height: 500px; }

/*****************************************************************************************
 *********************************** CORREÇÃO DE LAYOUT **********************************
 *****************************************************************************************/

hr.primary { border-color: #3c8dbc; }
hr.info { border-color: #00c0ef; }
hr.success { border-color: #00a65a; }
hr.warning { border-color: #f93c12; }
hr.danger { border-color: #f56954; }

.timeline > li > .fa, .timeline > li > .far { color: #fff; }

.timeline > li > .far {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
    position: unset;
    margin: unset;
    opacity: 0;
}

.checkbox + .checkbox, .radio + .radio {
    margin-top: 10px;
}


.main-header .sidebar-toggle { font-family: Font Awesome\ 5 Free; }

.thumbnail .caption:empty { display: none; } 

.info-box { margin-bottom: 10px; }
.info-box .box { position: relative; }
.info-box-icon { position: absolute; height: 100%; border-top-left-radius: 0; border-bottom-left-radius: 0;}
.info-box-icon img { width: 65px; margin-top: -10px; }

.info-box-content { padding: 10px; }
.info-box-content .labels .label { margin-right: 5px; }
.info-box-content .title { display: block; font-size: 18px; font-weight: 300; margin: 0; height: 48px; overflow: auto; }

.info-box-icon.text { line-height: unset; }
.info-box-icon.text .title { display: block; font-size: 12px; }


.tooltip { z-index: 3070; }

.box { margin-bottom: 10px; }
.box-header h3 { margin-right: 3px; }
.box-header .margin-input { margin: 0px; }
.box-status { /*display: block; float: right;*/ margin: 5px; width: 130px;}

.row-eq-height, .row-eq-height > div { display: flex; }

/*.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 20px; }*/
.select2-container .select2-selection--single .select2-selection__rendered { padding-left: 0px; }
.select2-container--default .select2-selection--single { border-radius: 0px; border: 1px solid #d2d6de; height: 34px;}
.select2-container { width: 100% !important; }
.select2-dropdown { z-index: 3051; }

.error-page { margin: 7% auto; }

.register-box { margin: 5% auto; width: 400px; }

.main-footer { height: 51px; }

.sidebar-menu li.disabled a {
    color: #222d32; text-shadow: 0.05em 0.05em 0 #b8c7ce; cursor: default;}
.sidebar-menu > li.disabled:hover > a {
    border-color: #222d32 !important; background-color: #222d32 !important; color: #222d32 !important; }

.label { padding: 2px 5px; }
.item .label { padding: 5px 7px; }
.nav-tabs a .label { padding: 5px 10px;}

.form-group.has-error .form-control, .has-error .input-group-addon,
.form-group.has-error .form-control-feedback, .has-error .form-control { color: #dd4b39 !important; border-color: #dd4b39; }

.form-group.has-success .form-control, .has-success .input-group-addon,
.form-group.has-success .form-control-feedback, .has-success .form-control { color: #00a65a !important; border-color: #00a65a; }

.form-group.has-warning .form-control, .has-warning .input-group-addon,
.form-group.has-warning .form-control-feedback, .has-warning .form-control { color: #f39c12 !important; border-color: #f39c12; }

.form-group.has-error .form-control-feedback, .form-group.has-success .form-control-feedback,
.form-group.has-error .form-control-feedback { border-width: 0/*1px 1px 1px 0*/; border-style: solid; }

.form-group.has-error .destaque { background-color: #dd4b39 !important; color: #fff !important; border-color: #d73925; }
.form-group.has-success .destaque { background-color: #00a65a !important; color: #fff !important; border-color: #008d4c; }
.form-group.has-warning .destaque { background-color: #f39c12 !important; color: #fff !important; border-color: #e08e0b; }

/*.form-group { margin-bottom: 5px; }*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1,
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
.col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2,
.col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 5px;
    padding-right: 5px;
}
.row { margin-left: -5px; margin-right: -5px; }

.form-control::-moz-placeholder { color: #ccc; }
.form-control.readonly { overflow: auto; }

.nav-stacked > li > .item { border-left: 3px solid transparent; border-radius: 0; border-top: 0 none; color: #444; }
.nav > li > .item { display: block; padding: 10px 15px; position: relative; }
.nav-stacked > li > .item:hover, .nav-stacked > li > .item:focus {
    background: #f7f7f7; color: #444;
}

.nav-stacked > li > .close { margin-top: -40px; }
.nav-stacked > li > .close:hover, .nav-stacked > li > .close:focus {
    background: none; color: #444;
}

li.fa { display: inline; }

.breadcrumb { margin-right: 3px;}
.breadcrumb li  { width: 50px; margin: 0 5px; text-align: center;}
.breadcrumb li .fa, .breadcrumb li .far { font-size: 2em; float: left; padding-left: 15px;}
.breadcrumb li .fa-stack-1x { font-size: 1em; padding-left: 0; top: 0.3em; }
.breadcrumb li .fa-stack-2x { padding: 0; }

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.control-label { text-align: left !important; }

.user-panel { height: 65px; }

.user-panel > .info { padding: 1px 5px 5px 15px; }
.user-panel > .info > .status { display: block; margin-top: 0px; }

.user-panel > .image > img  { /*background-color: #fff;*/ border-radius: 0.25em;}


.widget-user-2 .widget-user-image > img { margin-right: 10px; background-color: #fff;}

.navbar-nav > .user-menu .user-image { background-color: #fff; border-radius: 0.25em;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img { 
    border: none; height: auto; max-height: 100px; max-width: 150px; width: auto; border-radius: 3px;}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a { padding: 5px 10px; }
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .label { margin-left: 5px; }


.box-solid .box-header .small { color: #fff; }
.box-solid.box-default .box-header .small { color: #444; }

.widget-user-header { color: #fff; }
.widget-user-header a:link, .box-solid .box-header a:link       { text-decoration: none; color: #fff; }
.widget-user-header a:visited, .box-solid .box-header a:visited { text-decoration: none; color: #fff; }
.widget-user-header a:hover, .box-solid .box-header a:hover     { text-decoration: none; background: rgba(0, 0, 0, 0);}

a.btn:link    { text-decoration: none !important; color: #fff; }
a.btn:visited { text-decoration: none !important; color: #fff; }
a.btn:hover   { text-decoration: none !important; }

a.btn-default:link    { text-decoration: none !important; color: #555 !important; }
a.btn-default:visited { text-decoration: none !important; color: #555 !important; }

a.btn-app, .btn-app { color: #666; }
a.btn-app:visited { color: #666; }
a.btn-app:link    { color: #666; }
a.btn-app:hover   { color: #444; }

.login-box { margin: 3% auto; }

.content-header { min-height: 62px; }
.content-header > .label { text-align: left; display: block; font-size: 14px; margin-left: -5px; text-overflow: ellipsis; overflow: hidden; width: 600px; max-width: 100%;}
.content-header > .label:empty { display: none; }
.content-header > h1 { margin-bottom: 5px; }
.content-header > .breadcrumb > li + li::before, .breadcrumb > li + li::before { display: none;  }

/*.content { margin-top: 10px; }*/

.dropdown-menu > li > span.ui-state-disabled { color: #AAA !important; font-style: italic; }
.dropdown-menu > li > span { clear: both; color: #333; display: block; font-weight: 400; line-height: 1.42857; padding: 3px 20px; white-space: nowrap; }

.input-group .form-control { z-index: auto; }
.input-group .input-group-addon { cursor: default; }

.form-control-feedback.far { line-height: 34px; }

.sidebar-menu > li > a > .pull-right { position: relative; margin-top: 3px; right: 0;}
.sidebar-menu > li > a { white-space: normal; }
.sidebar-menu > li > a > .far { width: 20px; }
.sidebar-menu .treeview-menu > li > a > .far { width: 20px; }


.wrapper li { z-index: 4; }
.main-sidebar { z-index: auto; }
.wrapper .container-background { position: fixed; height: 100%; width: 230px; top: 0; left: 0; overflow: hidden; }
.wrapper .sidebar-background { position: absolute; z-index: 1; height: 100%; width: 100%; display: block; top: 0; left: 0; background-size: cover; background-position: 50%; }
.wrapper .sidebar-background::after { position: absolute; z-index: 3; width: 100%; height: 100%; content: ""; display: block; background: #1a2226; opacity: .93; }
/*.sidebar[data-background-color="red"] .sidebar-background::after { background: #d50000; opacity: .8; }*/
.sidebar-menu li.disabled { background: none;}

.sidebar-collapse .container-background { width: 50px; }

.container-background { transition: width .3s ease-in-out; }


