<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<p:toolbar style="margin-top: 20px">
  		<p:toolbarGroup>
  			<p:button value="Novo" outcome="/view/pedido/cadastro"/>
  			<p:commandButton value="Salvar" action="#{pedidoBean.salvar}"
  				update="@form" disabled="#{pedidoBean.selecionado.naoAlteravel}" />
  		</p:toolbarGroup>
  		
  		<p:toolbarGroup align="right">
  			<p:commandButton value="Emitir" action="#{pedidoBean.emitirPedido}" 
  				process="@form" update="@form" 
  				disabled="#{pedidoBean.selecionado.naoEmissivel or not seguranca.emitirPedidoPermitido}" />
  			<p:commandButton value="Cancelar" action="#{pedidoBean.cancelarPedido}"
  				process="@this" update="@form"
  				disabled="#{pedidoBean.selecionado.naoCancelavel or not seguranca.cancelarPedidoPermitido}" />
  			<p:commandButton value="Enviar por e-mail" action="#{pedidoBean.enviarPedido}"
  				process="@this" disabled="#{pedidoBean.selecionado.naoEnviavelPorEmail}" />
  			
  			<p:separator/>
  		
  			<p:button value="Pesquisa" outcome="/view/pedido/pesquisa" />
  		</p:toolbarGroup>
  	</p:toolbar>
  	
</ui:composition>