<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">
    

	<p:panelGrid columns="4" style="width: 100%; margin-top: 20px" >
		<p:outputLabel value="Número" rendered="#{selecionado.existente}" />
		<h:outputText value="#{selecionado.id}" rendered="#{selecionado.existente}" />
		
		<p:outputLabel value="Data de criação" rendered="#{selecionado.existente}" />
        <h:outputText value="#{selecionado.dataCriacao}" rendered="#{selecionado.existente}">
        	<f:convertDateTime pattern="dd/MM/yyyy" />
        </h:outputText>
        
        <p:outputLabel value="Status"/>
        <h:outputText value="#{selecionado.status.descricao}" />
        
        <p:outputLabel value="Vendedor" for="vendedor"/>
        <p:selectOneMenu id="vendedor" value="#{selecionado.vendedor}"
        		disabled="#{selecionado.naoAlteravel}">
            <f:selectItem itemLabel="Selecione" />
            <f:selectItems value="#{pedidoBean.vendedores}" var="vendedor"
            	itemValue="#{vendedor}" itemLabel="#{vendedor.nome}" />
        </p:selectOneMenu>
        
        <p:outputLabel value="Cliente" for="cliente"/>
        <h:panelGroup>
	        <p:inputText id="cliente" size="40" value="#{pedidoBean.nomeCliente}" 
	        	readonly="#{facesContext.currentPhaseId.name eq 'RENDER_RESPONSE'}" />
	        	
	        <p:commandButton icon="ui-icon-search" title="Pesquisar" process="@this"
	        	update="@none" disabled="#{selecionado.naoAlteravel}"
	        	action="#{selecaoClienteBean.abrirDialogo}"
	        	ignoreAutoUpdate="true">
	        	<p:ajax event="dialogReturn" listener="#{pedidoBean.clienteSelecionado}"
	        		update="cliente" ignoreAutoUpdate="true" />
	        </p:commandButton>
        </h:panelGroup>
        
        <p:outputLabel value="Forma de pagamento" for="formaPagamento"/>
        <p:selectOneMenu id="formaPagamento" value="#{selecionado.formaPagamento}">
            <f:selectItem itemLabel="Selecione" />
            <f:selectItems value="#{pedidoBean.formasPagamento}" var="formaPagamento"
            	itemValue="#{formaPagamento}" itemLabel="#{formaPagamento.descricao}" />
        </p:selectOneMenu>
        
        <p:outputLabel value="Valor do frete" for="valorFrete"/>
        <p:inputText id="valorFrete" size="10" maxlength="10" styleClass="moeda" 
        	value="#{selecionado.valorFrete}" disabled="#{selecionado.naoAlteravel}">
        	<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
        	
        	<p:ajax event="change" process="@this" update="totalPedido"
        		listener="#{pedidoBean.recalcularPedido}" />
        </p:inputText>
        
        <p:outputLabel value="Subtotal" style="font-weight: bold"/>
        <h:outputText value="#{selecionado.valorSubtotal}" 
        	style="font-weight: bold" id="subtotal">
        	<f:convertNumber type="currency"/>
        </h:outputText>
        
        <p:outputLabel value="Valor de desconto" for="valorDesconto"/>
        <p:inputText id="valorDesconto" size="10" maxlength="10" styleClass="moeda" 
        	value="#{selecionado.valorDesconto}" disabled="#{selecionado.naoAlteravel}">
        	<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
        	
        	<p:ajax event="change" process="@this" update="totalPedido"
        		listener="#{pedidoBean.recalcularPedido}" />
        </p:inputText>
        
        <p:outputLabel value="Total do pedido" style="font-weight: bold; font-size: 1.1em"/>
        <h:outputText value="#{selecionado.valorTotal}" 
        	style="font-weight: bold; font-size: 1.1em" id="totalPedido">
        	<f:convertNumber type="currency" />
        </h:outputText>
	</p:panelGrid>
  	
</ui:composition>