<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<p:panelGrid columns="4" style="width: 100%" columnClasses="rotulo, campo, rotulo, campo">
		<p:outputLabel value="Data da entrega" for="dataEntrega" />
		<p:calendar id="dataEntrega" size="10" pattern="dd/MM/yyyy"
			value="#{pedidoBean.selecionado.dataEntrega}" disabled="#{pedidoBean.selecionado.naoAlteravel}" />
		
		<p:spacer />
		<p:spacer />
	
        <p:outputLabel value="Logradouro" for="entregaLogradouro" />
        <p:inputText id="entregaLogradouro" size="50" 
        	value="#{pedidoBean.selecionado.enderecoEntrega.logradouro}" 
        	disabled="#{pedidoBean.selecionado.naoAlteravel}" />

        <p:outputLabel value="Número" for="entregaNumero" />
        <p:inputText id="entregaNumero" size="5" value="#{pedidoBean.selecionado.enderecoEntrega.numero}" 
        	disabled="#{pedidoBean.selecionado.naoAlteravel}"/>

        <p:outputLabel value="Complemento" for="entregaComplemento" />
        <p:inputText id="entregaComplemento" size="50" value="#{pedidoBean.selecionado.enderecoEntrega.complemento}" 
        	disabled="#{pedidoBean.selecionado.naoAlteravel}"/>

        <p:outputLabel value="Cidade" for="entregaCidade" />
        <p:inputText id="entregaCidade" size="20" value="#{pedidoBean.selecionado.enderecoEntrega.cidade}" 
        	disabled="#{pedidoBean.selecionado.naoAlteravel}"/>

        <p:outputLabel value="Estado" for="entregaEstado" />
        <p:inputText id="entregaEstado" size="20" value="#{pedidoBean.selecionado.enderecoEntrega.uf}" 
        	disabled="#{pedidoBean.selecionado.naoAlteravel}"/>

        <p:outputLabel value="CEP" for="entregaCep" />
        <p:inputText id="entregaCep" size="10" value="#{pedidoBean.selecionado.enderecoEntrega.cep}" 
        	disabled="#{pedidoBean.selecionado.naoAlteravel}"/>
	</p:panelGrid>
  	
</ui:composition>