<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

	<p:dataTable value="#{pedidoBean.selecionado.itens}" var="item" rowIndexVar="linha" id="tabelaItens">
		<p:column headerText="SKU" style="text-align: center; width: 100px">
			<h:outputText value="#{item.produto.sku}" rendered="#{item.produtoAssociado}"/>
			
			<p:inputText size="8" value="#{pedidoBean.sku}" label="SKU" id="sku"
				rendered="#{not item.produtoAssociado}">
				<p:ajax event="change" process="@this" 
					update="tabelaItens :popupForm_pedidoPopup:totalPedido :popupForm_pedidoPopup:subtotal" 
					listener="#{pedidoBean.carregarProdutoPorSku}" />
			</p:inputText>
		</p:column>
		<p:column headerText="Produto">
			<h:outputText value="#{item.produto.nome}" rendered="#{item.produtoAssociado}" />
		
			<p:autoComplete styleClass="produto-tabela" value="#{pedidoBean.produtoLinhaEditavel}"
				completeMethod="#{pedidoBean.completarProduto}"
				var="produto" itemLabel="#{produto.nome}" itemValue="#{produto}" 
				forceSelection="true" rendered="#{not item.produtoAssociado}">
				<p:ajax event="itemSelect" update="tabelaItens :popupForm_pedidoPopup:totalPedido :popupForm_pedidoPopup:subtotal" 
					listener="#{pedidoBean.carregarProdutoLinhaEditavel}"/>
			</p:autoComplete>
		</p:column>
		<p:column headerText="Valor unitário" style="text-align: right; width: 120px">
			<h:outputText value="#{item.valorUnitario}">
				<f:convertNumber type="currency"/>
			</h:outputText>
		</p:column>
		<p:column headerText="Quantidade" style="text-align: center; width: 100px">
			<p:inputText size="8" value="#{item.quantidade}" disabled="#{pedidoBean.selecionado.naoAlteravel}">
				<p:ajax event="change" process="@this"
					update="tabelaItens :popupForm_pedidoPopup:totalPedido :popupForm_pedidoPopup:subtotal"
					listener="#{pedidoBean.atualizarQuantidade(item, linha)}" />
			</p:inputText>
		</p:column>
		
		<p:column headerText="Estoque" style="text-align: center; width: 100px">
			<h:outputText value="#{item.produto.quantidadeEstoque}" 
				style="#{item.estoqueInsuficiente ? 'color: red' : ''}"/>
			
			<h:graphicImage library="images" name="alerta.png" id="semEstoque"
				style="vertical-align: bottom; margin-left: 5px" 
				rendered="#{item.estoqueInsuficiente}" />
				
			<p:tooltip for="semEstoque" value="Estoque insuficiente"
				rendered="#{item.estoqueInsuficiente}" />
		</p:column>
		
		<p:column headerText="Valor total" style="text-align: right; width: 100px">
			<h:outputText value="#{item.valorTotal}">
				<f:convertNumber type="currency"/>
			</h:outputText>
		</p:column>
		
		<p:columnGroup type="footer">
			<p:row>
				<p:column colspan="5" footerText="Subtotal" style="text-align: right" />
				<p:column style="text-align: right">
					<f:facet name="footer">
						<h:outputText value="#{pedidoBean.selecionado.valorSubtotal}">
							<f:convertNumber type="currency"/>
						</h:outputText>
					</f:facet>
				</p:column>
			</p:row>
		</p:columnGroup>
	</p:dataTable>
  	
</ui:composition>