<ui:composition template="/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo"></ui:define>
    
    <ui:define name="corpo">
    	<f:metadata>
    		<o:viewParam name="perfil" value="#{perfilBean.selecionado}" />
    		<f:viewAction action="#{perfilBean.inicializar}" />
    	</f:metadata>

    	<h:form id="frm">
			<p:focus context="frm" />
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:button value="Novo" outcome="/view/perfil/cadastro" />
	    			<p:commandButton value="Salvar" id="botaoSalvar"
	    				action="#{perfilBean.salvar}" update="@form"
	    				validateClient="false" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Pesquisa" outcome="/view/perfil/pesquisa" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    			
	    		<p:outputLabel value="Nome" for="nome"/>
	    		<p:inputText id="nome" size="40" maxlength="80" value="#{perfilBean.selecionado.nome}" />
	    		
	    		<p:outputLabel value="Descricao" for="descricao"/>
	    		<p:inputText id="descricao" size="60" maxlength="80" value="#{perfilBean.selecionado.descricao}" />
	    		
			    <h3 style="margin-top: 0">Permissão</h3>
					
				<p:pickList id="permissao" value="#{perfilBean.permissoes}" var="permissao" effect="bounce" converter="perfilPermissaoConverter"
                itemValue="#{permissao}" itemLabel="#{permissao}" showSourceControls="true" showTargetControls="true" showCheckbox="true"
                showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" responsive="true">
 
		        <f:facet name="sourceCaption">Disponíveis</f:facet>
		        <f:facet name="targetCaption">Selecionados</f:facet>
		 
		        <p:column style="width:85%;">
		            <h:outputText value="#{permissao.role}" />
		        </p:column>
		    </p:pickList>
		 
			</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>