<ui:composition template="/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Pesquisa de perfils</ui:define>
    
    <ui:define name="corpo">
    	<h:form id="frmPesquisa">
	    	<h1>Pesquisa de perfils</h1>
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar" 
	    				update="@form" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Novo" outcome="/view/perfil/cadastro" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    		
	    		<p:outputLabel value="Descricao" for="descricao"/>
	    		<p:inputText id="descricao" size="60" value="#{perfilBean.filtro.descricao}" />
	    	</p:panelGrid>
	    	
	    	<p:dataTable id="perfilTable" value="#{perfilBean.model}" var="perfil"
	    		style="margin-top: 20px" emptyMessage="Nenhum perfil encontrado." 
	    		rows="5" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom"
		    		lazy="true">
	    		<p:column headerText="Nome">
	    			<h:outputText value="#{perfil.nome}" />
	    		</p:column>
	    			<p:column headerText="Descricao">
	    			<h:outputText value="#{perfil.descricao}" />
	    		</p:column>
	    		<p:column style="width: 100px; text-align: center">
	    			<p:commandButton icon="ui-icon-pencil" title="Editar"
	    					process="@this" action="#{perfilBean.editar}">
	    				<f:setPropertyActionListener target="#{perfilBean.selecionado}" 
	    					value="#{perfil}" />
	    			</p:commandButton>
	    			
	    			<p:commandButton icon="ui-icon-trash" title="Excluir" oncomplete="PF('confirmacaoExclusao').show()"
	    					process="@this" update=":frmPesquisa:confirmacaoExclusaoDialog">
	    				<f:setPropertyActionListener target="#{perfilBean.selecionado}" 
	    					value="#{perfil}" />
	    			</p:commandButton>
	    		</p:column>
	    	</p:dataTable>
	    	
	    	<p:confirmDialog header="Exclusão de perfil" 
	    		message="Tem certeza que deseja excluir o perfil #{perfilBean.selecionado.id}?"
	    		widgetVar="confirmacaoExclusao"	id="confirmacaoExclusaoDialog">
	    		<p:button value="Não" onclick="PF('confirmacaoExclusao').hide(); return false;" />
	    		<p:commandButton value="Sim" oncomplete="PF('confirmacaoExclusao').hide();"
	    			action="#{perfilBean.excluir}" process="@this"
	    			update=":frmPesquisa:perfilTable" id="yesButton" />
	    	</p:confirmDialog>
    	</h:form>
    </ui:define>
</ui:composition>