<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<f:view>
	<ui:composition template="/templates/popup.xhtml">

		<ui:param name="width" value="700" />
		<ui:param name="id" value="#{empty id ? 'categoriaPopup' : id}" />

		<ui:define name="popup-title">
			<i class="fa fa-percent" /> ${msg['categoria.title']}</ui:define>
		<ui:define name="popup-subtitle">${msg[permissoes.categoria.editar ? 'commons.editar' : 'commons.visualizar']}</ui:define>

		<ui:define name="bodyPopUp">
		
			<h:panelGrid columns="1" cellpadding="5">
    <p:commandButton value="Basic" type="button" onclick="PF('dlg1').show();" />
     
    <p:commandButton value="Modal" type="button" onclick="PF('dlg2').show();" />
     
    <p:commandButton value="Effects" type="button" onclick="PF('dlg3').show();" /> 
</h:panelGrid>
<p:dialog header="Basic Dialog" widgetVar="dlg1" minHeight="40">
    <h:outputText value="Resistance to PrimeFaces is futile!" />
</p:dialog>
 
<p:dialog header="Modal Dialog" widgetVar="dlg2" modal="true" height="100">
    <h:outputText value="This is a Modal Dialog." />
</p:dialog>   
 
<p:dialog header="Effects" widgetVar="dlg3" showEffect="explode" hideEffect="bounce" height="100">
    <h:outputText value="This dialog has nice effects." />
</p:dialog>

			<c:set var="selecionado" value="#{formulario.selecionado}" />

			<p:outputPanel styleClass="box box-solid box-primary">
				<div class="box-body">
					<div class="row">
						<seinfra:inputText id="descricao" label="#{msg['categoria.descricao']}"
							value="#{selecionado.descricao}" readonly="#{not editando}"
							formGroup="true" maxColumns="12" colClass="col-sm-8" />
					</div>

				</div>
			</p:outputPanel>

		</ui:define>

		<ui:define name="footerPopUp">

			<p:outputPanel styleClass="row" rendered="#{editando}">
				<div class="col-sm-4 col-sm-offset-1 col-xs-offset-1 col-xs-4">
					<p:commandLink styleClass="btn btn-block btn-success"
						actionListener="#{categoriaBean.salvar}"
						oncomplete="fecharPopup('#{id}');" update="formulario">
						<i class="fa fa-save"></i>
						<span class="hidden-xs"> ${msg['commons.salvar']}</span>
					</p:commandLink>
				</div>
				<div class="col-sm-4 col-xs-4">
					<p:commandLink styleClass="btn btn-block btn-danger"
						oncomplete="fecharPopup('#{id}');">
						<i class="fa fa-times"></i>
						<span class="hidden-xs"> ${msg['commons.cancelar']}</span>
					</p:commandLink>
				</div>
			</p:outputPanel>

			<p:outputPanel styleClass="row" rendered="#{not editando}">
				<div class="col-sm-4 col-sm-offset-4">
					<p:commandLink styleClass="btn btn-block btn-danger"
						oncomplete="fecharPopup('#{id}');">
						<i class="fa fa-times"></i>
						<span> ${msg['commons.fechar']}</span>
					</p:commandLink>
				</div>
			</p:outputPanel>
		</ui:define>

	</ui:composition>
</f:view>

</html>