<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<f:view>
	<ui:composition template="/templates/popup.xhtml">

		<ui:param name="width" value="700" />
		<ui:param name="id" value="#{empty id ? 'clientePopup' : id}" />

		<ui:define name="popup-title">
			<i class="fa fa-percent" /> ${msg['cliente.title']}</ui:define>
		<ui:define name="popup-subtitle">${msg[permissoes.cliente.editar ? 'commons.editar' : 'commons.visualizar']}</ui:define>

		<ui:define name="bodyPopUp">

			<c:set var="selecionado" value="#{formulario.selecionado}" />

			<p:outputPanel styleClass="box box-solid box-primary">
				<div class="box-body">
					<div class="row">

						<seinfra:inputText id="nome" label="#{msg['cliente.nome']}"
							value="#{selecionado.nome}" readonly="#{not editando}"
							formGroup="true" maxColumns="12" colClass="col-sm-8" />
					</div>

					<div class="box box-solid box-primary">
						<div class="box-body">
							<div class="row">

								<h:selectOneRadio id="tipo" value="#{selecionado.tipo}"
									layout="lineDirection" styleClass="radio-buttons"
									unselectable="true" formGroup="true" maxColumns="4"
									colClass="col-sm-4">
									<f:selectItems value="#{clienteBean.tipoPessoa}"
										pt:class="radio-item col-xs-4" />
								</h:selectOneRadio>
							</div>
						</div>
					</div>
					<div class="row">

						<seinfra:inputText id="in-cpf" label="#{msg['cliente.cpfcnpj']}"
							value="#{selecionado.documentoReceitaFederal}"
							styleClass="mask-cpf" formGroup="true" maxColumns="12"
							colClass="col-sm-4" required="true" />
					</div>

					<div class="row">

						<seinfra:inputText id="bdi-formula"
							label="#{msg['cliente.email']}" value="#{selecionado.email}"
							readonly="#{not editando}" formGroup="true" maxColumns="12"
							colClass="col-sm-8" />
					</div>
				</div>
			</p:outputPanel>

		</ui:define>

		<ui:define name="footerPopUp">

			<p:outputPanel styleClass="row" rendered="#{editando}">
				<div class="col-sm-4 col-sm-offset-1 col-xs-offset-1 col-xs-4">
					<p:commandLink styleClass="btn btn-block btn-success"
						actionListener="#{clienteBean.salvar}"
						oncomplete="fecharPopup('#{id}');" update="formulario">
						<i class="fa fa-save"></i>
						<span class="hidden-xs"> ${msg['commons.salvar']}</span>
					</p:commandLink>
				</div>
				<div class="col-sm-4 col-xs-4">
					<p:commandLink styleClass="btn btn-block btn-danger"
						oncomplete="fecharPopup('#{id}');">
						<i class="fa fa-times"></i>
						<span class="hidden-xs"> ${msg['commons.cancelar']}</span>
					</p:commandLink>
				</div>
			</p:outputPanel>

			<p:outputPanel styleClass="row" rendered="#{not editando}">
				<div class="col-sm-4 col-sm-offset-4">
					<p:commandLink styleClass="btn btn-block btn-danger"
						oncomplete="fecharPopup('#{id}');">
						<i class="fa fa-times"></i>
						<span> ${msg['commons.fechar']}</span>
					</p:commandLink>
				</div>
			</p:outputPanel>
		</ui:define>

	</ui:composition>
</f:view>

</html>