<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<f:view>
	<ui:composition template="/templates/popup.xhtml">

		<ui:param name="width" value="1000" />
		<ui:param name="id" value="#{empty id ? 'pedidoPopup' : id}" />

		<ui:define name="popup-title">
			<i class="fa fa-percent" /> ${msg['pedido.title']}</ui:define>
		<ui:define name="popup-subtitle">${msg[permissoes.pedido.editar ? 'commons.editar' : 'commons.visualizar']}</ui:define>

		<ui:define name="bodyPopUp">
		
		<c:set var="selecionado" value="#{formulario.selecionado}" />
		
		<ui:include src="/WEB-INF/template/pedido/BotoesPedido.xhtml" />
		
		<ui:include src="/WEB-INF/template/pedido/CapaPedido.xhtml" />

	    <ui:include src="/WEB-INF/template/pedido/ItensPedido.xhtml" />

		</ui:define>

		<ui:define name="footerPopUp">

			<p:outputPanel styleClass="row" rendered="#{editando}">
				<div class="col-sm-4 col-sm-offset-1 col-xs-offset-1 col-xs-4">
					<p:commandLink styleClass="btn btn-block btn-success"
						actionListener="#{pedidoBean.salvar}"
						oncomplete="fecharPopup('#{id}');" update="formulario">
						<i class="fa fa-save"></i>
						<span class="hidden-xs"> ${msg['commons.salvar']}</span>
					</p:commandLink>
				</div>
				<div class="col-sm-4 col-xs-4">
					<p:commandLink styleClass="btn btn-block btn-danger"
						oncomplete="fecharPopup('#{id}');">
						<i class="fa fa-times"></i>
						<span class="hidden-xs"> ${msg['commons.cancelar']}</span>
					</p:commandLink>
				</div>
			</p:outputPanel>

			<p:outputPanel styleClass="row" rendered="#{not editando}">
				<div class="col-sm-4 col-sm-offset-4">
					<p:commandLink styleClass="btn btn-block btn-danger"
						oncomplete="fecharPopup('#{id}');">
						<i class="fa fa-times"></i>
						<span> ${msg['commons.fechar']}</span>
					</p:commandLink>
				</div>
			</p:outputPanel>
		</ui:define>

	</ui:composition>
</f:view>

</html>