<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<f:view>
	<ui:composition template="/templates/popup.xhtml">

		<ui:param name="width" value="700" />
		<ui:param name="id" value="#{empty id ? 'produtoPopup' : id}" />

		<ui:define name="popup-title">
			<i class="fa fa-percent" /> ${msg['produto.title']}</ui:define>
		<ui:define name="popup-subtitle">${msg[permissoes.produto.editar ? 'commons.editar' : 'commons.visualizar']}</ui:define>

		<ui:define name="bodyPopUp">

			<c:set var="selecionado" value="#{formulario.selecionado}" />

			<p:outputPanel styleClass="box box-solid box-primary">
				<div class="box-body">

					<div class="box box-solid box-primary">
						<div class="box-body">
								<h:outputLabel value="Categoria" for="categoria" styleClass="form-label" /><br />

									<h:selectOneMenu id="categoria" styleClass="form-control col-sm-6"
										value="#{selecionado.categoria}" maxColumns="6"
										colClass="col-sm-6" readonly="#{not editando}"
										formGroup="true" label="#{msg['produto.categoria']}">
										<f:selectItem itemLabel="Selecione a categoria" maxColumns="6"
										colClass="col-sm-6"/>
										<f:selectItems value="#{produtoBean.categoriasRaizes}" maxColumns="6"
										colClass="col-sm-6"
											var="categoria" itemValue="#{categoria}"
											itemLabel="#{categoria.descricao}" />
									</h:selectOneMenu>
										</div>
													</div>
													
						<seinfra:inputText id="nome" label="#{msg['produto.nome']}"
							value="#{selecionado.nome}" readonly="#{not editando}"
							formGroup="true" maxColumns="6" colClass="col-sm-6" />

						<seinfra:inputText id="sku" label="#{msg['produto.sku']}" 
							value="#{selecionado.sku}" readonly="#{not editando}"
							formGroup="true" maxColumns="6" colClass="col-sm-6" />
								

						<seinfra:inputText id="valor" label="#{msg['produto.valor.unitario']}" 
							value="#{selecionado.valorUnitario}" readonly="#{not editando}"
							formGroup="true" maxColumns="6" colClass="col-sm-6" />

						<seinfra:inputText id="estoque" label="#{msg['produto.estoque']}" 
							value="#{selecionado.quantidadeEstoque}" readonly="#{not editando}"
							formGroup="true" maxColumns="6" colClass="col-sm-6" />
					
				</div>
			</p:outputPanel>

		</ui:define>

		<ui:define name="footerPopUp">

			<p:outputPanel styleClass="row" rendered="#{editando}">
				<div class="col-sm-4 col-sm-offset-1 col-xs-offset-1 col-xs-4">
					<p:commandLink styleClass="btn btn-block btn-success"
						actionListener="#{produtoBean.salvar}"
						oncomplete="fecharPopup('#{id}');" update="formulario">
						<i class="fa fa-save"></i>
						<span class="hidden-xs"> ${msg['commons.salvar']}</span>
					</p:commandLink>
				</div>
				<div class="col-sm-4 col-xs-4">
					<p:commandLink styleClass="btn btn-block btn-danger"
						oncomplete="fecharPopup('#{id}');">
						<i class="fa fa-times"></i>
						<span class="hidden-xs"> ${msg['commons.cancelar']}</span>
					</p:commandLink>
				</div>
			</p:outputPanel>

			<p:outputPanel styleClass="row" rendered="#{not editando}">
				<div class="col-sm-4 col-sm-offset-4">
					<p:commandLink styleClass="btn btn-block btn-danger"
						oncomplete="fecharPopup('#{id}');">
						<i class="fa fa-times"></i>
						<span> ${msg['commons.fechar']}</span>
					</p:commandLink>
				</div>
			</p:outputPanel>
		</ui:define>

	</ui:composition>
</f:view>

</html>