<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<f:view>
<ui:composition template="/templates/popup.xhtml">

<ui:param name="width" value="700" />
<ui:param name="height" value="530" />

<ui:define name="popup-title"><i class="fa fa-user"/> ${msg['usuario.title']}</ui:define>
<ui:define name="popup-subtitle">${msg[permissoes.usuario.editar ? 'commons.editar' : 'commons.visualizar']}</ui:define>

<ui:define name="bodyPopUp">
    
    <c:set var="editando" value="#{permissoes.usuario.editar}" />
    <c:set var="selecionado" value="#{crudEmpresaUsuario.selecionado}" />
    <c:set var="empresa" value="#{selecionado.empresa}" />
    <c:set var="perfil" value="#{crudEmpresaUsuario.perfil}" />
    <c:set var="tab" value="#{crudEmpresaUsuario.tab}" />
    <c:set var="readonlyPerfil" value="#{not permissoes.usuario.permissoes or not perfil.isPersonalizado()}" />
    
    <c:set var="podeEditarPerfil" value="#{perfil.isPersonalizado()}" />
    
    <div class="nav-tabs-custom #{empresa.plano.status}">
        <ul class="nav nav-tabs">
            <li class="#{tab eq 'dados' or empty tab ? 'active' : '' } #{empresa.plano.status} maiusculo">
                <p:commandLink actionListener="#{crudEmpresaUsuario.setTab('dados')}" update="@form" global="false"><i class="fa fa-edit"/> <span class="hidden-xs">${msg['commons.dados.cadastrais']}</span></p:commandLink></li>
            <li class="#{tab eq 'permissoes' ? 'active' : '' } #{empresa.plano.status} maiusculo">
                <p:commandLink actionListener="#{crudEmpresaUsuario.setTab('permissoes')}" update="@form" global="false"><i class="fa fa-key"/> <span class="hidden-xs">${msg['commons.permissoes']}</span></p:commandLink></li>
            <f:subview id="view-tab-password" rendered="#{permissoes.foda.ver}">
                <li class="#{tab eq 'password' ? 'active' : '' } #{empresa.plano.status} maiusculo">
                    <p:commandLink actionListener="#{crudEmpresaUsuario.setTab('password')}" update="@form" global="false"><i class="fa fa-lock"/> <span class="hidden-xs">${msg['usuario.password']}</span></p:commandLink></li>
            </f:subview>
        </ul>
    
        <div class="tab-content">
    
            <!-- DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS -->
            <!-- DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS -->
            <!-- DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS -->
            <!-- DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS - DADOS GERAIS -->
            <p:outputPanel styleClass="row tab-pane active" rendered="#{tab eq 'dados' or empty tab}">
                <seinfra:inputText id="usuario-nome" label="#{msg['commons.nome']}" value="#{selecionado.nome}" placeholder="#{msg['commons.placeholder.texto']}" formGroup="true" maxColumns="12" readonly="#{not editando}"/>
                <seinfra:inputText id="usuario-login" label="#{msg['commons.email']}" value="#{selecionado.login}" email="true" formGroup="true" maxColumns="6" colClass="col-sm-6" readonly="#{not editando}"/>
                <seinfra:inputText id="usuario-cpf" label="#{msg['commons.cpf']}" value="#{selecionado.cpf}" formGroup="true" maxColumns="3" colClass="col-sm-6" readonly="#{not editando}" styleClass="mask-cpf"/>
                <seinfra:inputText id="usuario-telefone" label="#{msg['empresa.telefone']}" value="#{selecionado.telefone}" formGroup="true" maxColumns="3" colClass="col-sm-6" readonly="#{not editando}" styleClass="mask-fone"/>
                <seinfra:selectBooleanCheckbox id="usuario-ativo" value="#{selecionado.ativo}" label="#{msg['usuario.ativo']}" maxColumns="6" readonly="#{not editando}" />
                <seinfra:inputTextarea id="usuario-observacao" label="#{msg['usuario.observacoes']}" value="#{selecionado.observacao}" formGroup="true" maxColumns="12" readonly="#{not editando}" />
            </p:outputPanel>
            
            <!-- PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES -->
            <!-- PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES -->
            <!-- PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES -->
            <!-- PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES - PERMISSOES -->
            
            <p:outputPanel styleClass="row tab-pane active" rendered="#{tab eq 'permissoes'}">
                
                <seinfra:selectOneListbox id="permissoes-list" value="#{crudEmpresaUsuario.perfil}" label="#{msg['usuario.perfil']}" values="#{crudEmpresaUsuario.perfis}"
                        update="true" ajaxevent="change" form="@form" formGroup="true" />
                
                <ui:repeat var="permissao" value="#{listPermissoes.permissoesGerais}" varStatus="index">
                    <div class="col-xs-12 ${index.index gt 0 ? 'border-top' : ''}">
                        <h:outputLabel value="#{msg['perfil.geral.'.concat(permissao.getNome())]}:" styleClass="col-sm-12 col-md-3 margin-top-bottom-10"/>
                        <div class="col-sm-12 col-md-9">
                            <ui:repeat var="permissaoItem" value="#{permissao.getItens()}">
                                <seinfra:selectBooleanCheckbox id="projeto-criar" value="#{perfil[permissao.getNome()][permissaoItem.getNome()]}"
                                        label="#{msg['perfil.permissao.'.concat(permissaoItem.getNome())]}" maxColumns="4" colClass="col-sm-6" readonly="${readonlyPerfil}" />
                            </ui:repeat>
                        </div>
                    </div>
                </ui:repeat>
            </p:outputPanel>
            
            
            <!-- PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD -->
            <!-- PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD -->
            <!-- PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD -->
            <!-- PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD - PASSWORD -->
            <p:outputPanel styleClass="row tab-pane active" rendered="#{tab eq 'password'}">
            
                <seinfra:inputSecret id="usuario-nova-senha" label="#{msg['usuario.senha.digite']}" value="#{crudEmpresaUsuario.novaSenha}" formGroup="true" maxColumns="6" colClass="col-sm-6" readonly="#{not editando}" />
                <seinfra:inputSecret id="usuario-confirma-senha" label="#{msg['usuario.senha.confirme']}" value="#{crudEmpresaUsuario.confirmaSenha}" formGroup="true" maxColumns="6" colClass="col-sm-6" readonly="#{not editando}" />
            
            </p:outputPanel>
            
        </div>
    </div>

</ui:define>



<ui:define name="footerPopUp">
    
    <div class="row">
        <f:subview id="buttons-usuario-editando" rendered="#{editando}">
            <div class="col-sm-3 col-sm-offset-3 col-xs-6">
                <p:commandLink styleClass="btn btn-block btn-success" actionListener="#{crudEmpresaUsuario.salvar}" update="popupForm_#{id}, formulario" oncomplete="fecharPopup('#{id}', true);">
                    <i class="fa fa-save"/><span> ${msg['commons.salvar']}</span>
                </p:commandLink>
            </div>
            <div class="col-sm-3 col-xs-6">
                <p:commandLink styleClass="btn btn-block btn-danger" actionListener="#{crudEmpresaUsuario.cancelar}" oncomplete="fecharPopup('#{id}');">
                    <i class="fa fa-times"/><span> ${msg['commons.cancelar']}</span>
                </p:commandLink>
            </div>
        </f:subview>
        <f:subview id="buttons-usuario-visualizando" rendered="#{not editando}">
            <div class="col-sm-4 col-sm-offset-4">
                <p:commandLink styleClass="btn btn-block btn-danger" actionListener="#{crudEmpresaUsuario.cancelar}" oncomplete="fecharPopup('#{id}');">
                    <i class="fa fa-times"></i><span> ${msg['commons.fechar']}</span>
                </p:commandLink>
            </div>
        </f:subview>
        
    </div>
</ui:define>
</ui:composition>
</f:view>

</html>