<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Seleção de cliente</title>
	
	<h:outputStylesheet library="css" name="sistema.css" />
	
	<style>
		body {
			margin: 10px
		}
	</style>
</h:head>
<h:body>

	<h:form>
    	<div style="margin-top: 5px">
    		<p:inputText id="nome" size="40" value="#{selecaoClienteBean.nome}" placeholder="Nome do cliente" />
    		<p:spacer width="10px"/>
    		<p:commandButton value="Pesquisar" action="#{selecaoClienteBean.pesquisar}"
    				update="@form" />
    	</div>
    	
    	<p:dataTable id="clienteTable" value="#{clienteBean.model}" var="cliente"
	    		style="margin-top: 20px" emptyMessage="Nenhum cliente encontrado." 
				rows="5" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom"
		    	lazy="true">
    		<p:column headerText="Código" style="text-align: center; width: 40px">
    			<h:outputText value="#{cliente.id}" />
    		</p:column>
    		<p:column headerText="Nome">
    			<h:outputText value="#{cliente.nome}" />
    		</p:column>
    		<p:column style="width: 30px; text-align: center">
    			<p:commandButton icon="ui-icon-check" title="Selecionar"
    				process="@this" action="#{selecaoClienteBean.selecionar(cliente)}" />
    		</p:column>
    	</p:dataTable>
	</h:form>

</h:body>
</html>