<ui:composition template="/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo">#{produtoBean.editando ? 'Edição de produto' : 'Novo produto'}</ui:define>
    
    <ui:define name="corpo">
    	<f:metadata>
    		<o:viewParam name="selecionado" value="#{produtoBean.selecionado}" />
    		<f:viewAction action="#{produtoBean.inicializar}" />
    	</f:metadata>

    	<h:form id="frm">
			<p:focus context="frm" />
			#{produtoBean.editando}
	    	<h1>#{produtoBean.editando ? 'Edição de produto' : 'Novo produto'}</h1>
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:button value="Novo" outcome="/view/produto/cadastro" />
	    			<p:commandButton value="Salvar" id="botaoSalvar"
	    				action="#{produtoBean.salvar}" update="@form"
	    				validateClient="false" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Pesquisa" outcome="/view/produto/pesquisa" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    		<p:outputLabel value="SKU" for="sku"/>
	    		<p:inputText id="sku" size="20" maxlength="20" value="#{produtoBean.selecionado.sku}" />
	    		
	    		<p:outputLabel value="Nome" for="nome"/>
	    		<p:inputText id="nome" size="60" maxlength="80" value="#{produtoBean.selecionado.nome}" />
	    		
	    		<p:outputLabel value="Categoria" for="categoria"/>
	    		<p:selectOneMenu id="categoria" value="#{produtoBean.selecionado.categoria}" >
	    			<f:selectItem itemLabel="Selecione a categoria"/>
	    			<f:selectItems value="#{produtoBean.categoriasRaizes}" var="categoria"
	    				itemValue="#{categoria}" itemLabel="#{categoria.descricao}" />
	    		</p:selectOneMenu>
	    		
	    		<p:outputLabel value="Valor unitário" for="valorUnitario"/>
	    		<p:inputText id="valorUnitario" size="10" maxlength="10" styleClass="moeda"
	    			value="#{produtoBean.selecionado.valorUnitario}">
	    			<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
	    		</p:inputText>
	    		
	    		<p:outputLabel value="Estoque" for="estoque"/>
	    		<p:inputText id="estoque" size="10" maxlength="5"
	    			value="#{produtoBean.selecionado.quantidadeEstoque}" />
	    	</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>