<ui:composition template="/templates/padrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<ui:define name="title">${msg['produto.title']}</ui:define>
<ui:define name="operacao">${msg['commons.visualizar']}</ui:define>

<ui:define name="popup"><seinfra:produtoPopup formulario="#{produtoBean}" editando="true"/></ui:define>

<ui:define name="sideBar"><seinfra:menuLeft value="produto"/></ui:define>
<ui:define name="toolbar"><seinfra:toolbar formulario="#{produtoBean}" model="produto" filtrar="true" novo="true" salvar="true" fechar="true" /></ui:define>

<ui:define name="body">

    <div class="box ${tipo}">
        <div class="box-body">
        
        <h:form id="frmPesquisa">
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px" columnClasses="rotulo, campo">
	    		<p:outputLabel value="SKU" for="sku"/>
	    		<p:inputText id="sku" size="20" value="#{produtoBean.filtro.sku}"/>
	    		
	    		<p:outputLabel value="Nome" for="nome"/>
	    		<p:inputText id="nome" size="60" value="#{produtoBean.filtro.nome}" />
	    	</p:panelGrid>
        
                <p:dataTable id="produtoTable" value="#{produtoBean.model}" var="produto"
	    		style="margin-top: 20px" emptyMessage="Nenhum produto encontrado." tableStyleClass="table table-bordered table-hover dataTable"
				rows="5" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom" lazy="true">
		    	
                <p:column headerText="#{msg['produto.id']}" styleClass="col-checkbox"><h:outputText value="#{produto.id}" /></p:column>
                <p:column headerText="#{msg['produto.nome']}" styleClass="col-esquerdo"><h:outputText value="#{produto.nome}" /></p:column>
                <p:column headerText="${msg['produto.categoria']}" styleClass="col-esquerdo"><h:outputText value="#{produto.categoria.descricao}" posvalue="%"/></p:column>
                
                <p:column styleClass="col-id">
                    <p:commandLink styleClass="neutral-icon" action="#{produtoBean.selecionar(produto)}" process="@this"
                     oncomplete="abrirPopup('produtoPopup');">
                        <seinfra:icon editar="true"/>
                        </p:commandLink>
               
                </p:column>
                
                <p:commandButton icon="ui-icon-pencil" title="Editar"
	    					process="@this" action="#{produtoBean.editar}">
	    				<f:setPropertyActionListener target="#{produtoBean.selecionado}" 
	    					value="#{produto}" />
	    			</p:commandButton>
                
                <p:column styleClass="col-id">
                    <p:commandLink styleClass="alert-icon" action="#{produtoBean.excluir(produto)}" update="@form" process="@this" pt:data-confirma-mensagem="${msg['commons.mensagem.confirma.exclusao']}"><seinfra:icon icon="excluir"/></p:commandLink>
                </p:column>
                
            </p:dataTable>
            </h:form>
        </div>
    </div>

</ui:define>

</ui:composition>
