<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jstl/core" 
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets"
    xml:lang="pt" lang="pt-br" dir="ltr">
<f:view>

<c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />

<h:head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>${msg['application.page.title']}</title>
    <link rel="shortcut icon" type="image/png" href="/auth/imagens/sistemas/icone-32-CONSILIUM.png"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="#{contextPath}/resources/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/ionicons/css/ionicons.min.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/weather-icons/css/weather-icons.min.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/dist/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/select2/css/select2.min.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/datepicker/datepicker3.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/seinfra/css/geral.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/seinfra/css/geral.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/seinfra/css/geral-bootstrap.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/seinfra/css/geral-primefaces.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/iCheck/minimal/minimal.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/summernote/summernote.css"/>
    <link rel="stylesheet" href="#{contextPath}/resources/baguetteBox/baguetteBox-1.9.1.css"/>
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="#{contextPath}/resources/dist/css/skins/skin-green.min.css"/>


    <!-- REQUIRED JS SCRIPTS -->

    <h:outputScript library="primefaces" name="jquery/jquery.js" />
    <script src="#{contextPath}/resources/bootstrap/js/bootstrap.js"></script>
    <script src="#{contextPath}/resources/dist/js/app.min.js"></script>
    <script src="#{contextPath}/resources/bootbox/js/bootbox.js"></script>
    <script src="#{contextPath}/resources/seinfra/js/geral.js"></script>
    <script src="#{contextPath}/resources/iCheck/icheck.min.js"></script>
    <script src="#{contextPath}/resources/baguetteBox/baguetteBox-1.9.1.js"></script>
    <script src="#{contextPath}/resources/select2/js/select2.full.min.js"></script>
    <script src="#{contextPath}/resources/datarangerpicker/js/moment.min.js"></script>
    <script src="#{contextPath}/resources/datarangerpicker/js/daterangepicker.js"></script>
    <script src="#{contextPath}/resources/summernote/summernote.js"></script>
    
    <script src="#{contextPath}/resources/input-mask/js/inputmask.js"></script>
    <script src="#{contextPath}/resources/input-mask/js/inputmask.extensions.js"></script>
    <script src="#{contextPath}/resources/input-mask/js/inputmask.date.extensions.js"></script>
    <script src="#{contextPath}/resources/input-mask/js/inputmask.numeric.extensions.js"></script>
    <script src="#{contextPath}/resources/input-mask/js/inputmask.phone.extensions.js"></script>
    <script src="#{contextPath}/resources/input-mask/js/inputmask.regex.extensions.js"></script>
    <script src="#{contextPath}/resources/input-mask/js/jquery.inputmask.bundle.js"></script>
    <script src="#{contextPath}/resources/input-mask/js/jquery.inputmask.js"></script>
    
    <script src="#{contextPath}/resources/highcharts/highcharts.js"></script>
    <script>
    	Highcharts.setOptions({ lang: { decimalPoint: ',', thousandsSep: '.' } });
    	Highcharts.getOptions().colors = new Array();
        
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#50B432';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#ED561B';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#DDDF00';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#24CBE5';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#64E572';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#FF9655';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#FFF263';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#6AF9C4';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#EAEAEA';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#666999';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#006699';
    
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#8dd3c7';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#ffffb3';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#bebada';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#fb8072';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#80b1d3';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#fdb462';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#b3de69';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#fccde5';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#d9d9d9';
        
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#a6cee3';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#1f78b4';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#b2df8a';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#33a02c';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#fb9a99';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#e31a1c';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#fdbf6f';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#ff7f00';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#cab2d6';
    
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#e41a1c';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#377eb8';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#4daf4a';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#984ea3';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#ff7f00';
    	//Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#ffff33';
        Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#a65628';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#f781bf';
    	Highcharts.getOptions().colors[Highcharts.getOptions().colors.length] = '#999999';

        var meses = ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'];
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="#{contextPath}/resources/seinfra/js/html5shiv.min.js"></script>
        <script src="#{contextPath}/resources/seinfra/js/respond.min.js"></script>
    <![endif]-->
    
    <ui:insert name="head" />
    
</h:head>

<h:body id="corpo-largura-minima" class="hold-transition skin-green sidebar-mini">

	<div class="wrapper">

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="#{contextPath}" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><img src="#{contextPath}/resources/seinfra/img/logo-interno-vertical.png" height="40px;"/></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><img src="#{contextPath}/resources/seinfra/img/logo-interno-horizontal.png" height="50px;"/></span>
          
        </a>
        
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle fa" data-toggle="offcanvas" role="button"><span class="sr-only">Toggle navigation</span></a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <seinfra:menuTop/>
          </div>
        </nav>
      </header>
      
    
    <ui:insert name="popup" />
      
    <h:form id="formulario" prependId="false">
    
        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>
    
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- ui:insert name="sideBar" /-->
          <ui:insert name="sideBar" />
          
        </section>
        <!-- /.sidebar -->
      </aside>
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <ui:insert name="title" />
            <small class="subtitle"><ui:insert name="operacao" /></small>
          </h1>
          <ui:insert name="toolbar" />
        </section>
        
        <h:messages id="mensagens-sistema" escape="false" style="display: none;"
                    infoClass="alert alert-success alert-dismissable" 
                    errorClass="alert alert-danger alert-dismissable"
                    warnClass="alert alert-warning alert-dismissable" />
        
        <!-- Main content -->
        <section class="content">
          <div class="row">
            <ui:insert name="body" />
			<ui:insert name="corpo"/>
          </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
    </h:form>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">SeinfraSin</div>
            <strong>Copyright &copy; <h:outputText value="#{dataCorrente}" format="yyyy"/> <a href="http://www.seinfra.ce.gov.br">Seinfra</a>.</strong> <span class="hidden-xs">Todos os direitos reservados.</span>
        </footer>

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <div id="log-console" style="display: none;"/>

    <div class="ajaxmodal modal" id="ajaxmodal" tabindex="-1" role="dialog" aria-labelledby="aguarde-processamento">
        <div class="modal-dialog"><div class="modal-content"><div class="modal-body">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"/><span class="sr-only">Loading...</span></div></div></div></div>
    
    <p:ajaxStatus onstart="abrirAjaxModal()" oncomplete="fecharAjaxModal()" />
    
    <p:outputPanel autoUpdate="true"><h:outputScript id="applyChangeHandler">$(document).ready(function () { afterAutoUpdate(); });</h:outputScript></p:outputPanel>
    
    
</h:body>
</f:view>
</html>
