<?xml version="1.0" encoding="ISO-8859-1" ?>
                <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core">
    
    <div class="modal fade" id="#{id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <h:form id="popupForm_#{id}">
            <div class="modal-dialog" style="width: #{width}px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-keyboard="true" aria-label="Close" onclick="fecharPopup('#{id}');">
                            <i class="fa fa-remove" />
                        </a>
                        <h4 class="modal-title">
                            <h:outputText value="${title}"/>&nbsp;
                            <h:outputText value="#{subtitle}" styleClass="subtitle maiusculo small hidden-xs" />
                        </h4>
                    </div>
                    <div class="modal-body full-xs" style="height: #{height - 125}px;">
                        <ui:insert name="bodyPopUp" />
                    </div>
                    <div class="modal-footer">
                        <ui:insert name="footerPopUp" />
                    </div>
                </div>
            </div>
        </h:form>

    </div>
</ui:composition>
