<ui:composition template="/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo"></ui:define>
    
    <ui:define name="corpo">
    	<f:metadata>
    		<o:viewParam name="usuario" value="#{usuarioBean.selecionado}" />
    		<f:viewAction action="#{usuarioBean.inicializar}" />
    	</f:metadata>

    	<h:form id="frm">
			<p:focus context="frm" />
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:button value="Novo" outcome="/view/usuario/cadastro" />
	    			<p:commandButton value="Salvar" id="botaoSalvar"
	    				action="#{usuarioBean.salvar}" update="@form"
	    				validateClient="false" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Pesquisa" outcome="/view/usuario/pesquisa" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    		
	    		<p:outputLabel value="Nome" for="nome"/>
	    		<p:inputText id="nome" size="100" maxlength="80" value="#{usuarioBean.selecionado.nome}" />
	    		
				<p:outputLabel value="Email" for="email"/>
	    		<p:inputText id="email" size="60" value="#{usuarioBean.selecionado.email}" />
	    		
	    		<p:outputLabel value="Senha" for="senha"/>
	    		<p:inputText id="senha" size="40" value="#{usuarioBean.selecionado.senha}" />
	    		
	    		<p:outputLabel value="Perfil" for="perfil"/>
	    		<p:selectOneMenu id="perfil" value="#{usuarioBean.selecionado.perfil}" >
	    			<f:selectItem itemLabel="Selecione a perfil"/>
	    			<f:selectItems value="#{usuarioBean.perfis}" var="perfil"
	    				itemValue="#{perfil}" itemLabel="#{perfil.nome}" />
	    		</p:selectOneMenu>
	    		
	    	</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>