<ui:composition template="/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">Pesquisa de usuarios</ui:define>
    
    <ui:define name="corpo">
    	<h:form id="frmPesquisa">
	    	<h1>Pesquisa de usuarios</h1>
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:commandButton value="Pesquisar"
	    				update="@form" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Novo" outcome="/view/usuario/cadastro" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="4" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    		
	    		<p:outputLabel value="nome" for="nome"/>
	    		<p:inputText id="nome" size="80" value="#{usuarioBean.filtro.nome}" />
	    		
	    		<p:outputLabel value="email" for="email"/>
	    		<p:inputText id="email" size="80" value="#{usuarioBean.filtro.email}" />
	    	</p:panelGrid>
	    	
	    	<p:dataTable id="usuarioTable" value="#{usuarioBean.model}" var="usuario"
	    		style="margin-top: 20px" emptyMessage="Nenhum usuario encontrado." 
	    		rows="5" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom"
		    		lazy="true">
	    		<p:column headerText="nome">
	    			<h:outputText value="#{usuario.nome}" />
	    		</p:column>
	    		<p:column style="width: 100px; text-align: center">
	    			<p:commandButton icon="ui-icon-pencil" title="Editar"
	    					process="@this" action="#{usuarioBean.editar}">
	    				<f:setPropertyActionListener target="#{usuarioBean.selecionado}" 
	    					value="#{usuario}" />
	    			</p:commandButton>
	    			
	    			<p:commandButton icon="ui-icon-trash" title="Excluir" oncomplete="PF('confirmacaoExclusao').show()"
	    					process="@this" update=":frmPesquisa:confirmacaoExclusaoDialog">
	    				<f:setPropertyActionListener target="#{usuarioBean.selecionado}" 
	    					value="#{usuario}" />
	    			</p:commandButton>
	    		</p:column>
	    	</p:dataTable>
	    	
	    	<p:confirmDialog header="Exclusão de usuario" 
	    		message="Tem certeza que deseja excluir o usuario #{usuarioBean.selecionado.id}?"
	    		widgetVar="confirmacaoExclusao"	id="confirmacaoExclusaoDialog">
	    		<p:button value="Não" onclick="PF('confirmacaoExclusao').hide(); return false;" />
	    		<p:commandButton value="Sim" oncomplete="PF('confirmacaoExclusao').hide();"
	    			action="#{usuarioBean.excluir}" process="@this"
	    			update=":frmPesquisa:usuarioTable" id="yesButton" />
	    	</p:confirmDialog>
    	</h:form>
    </ui:define>
</ui:composition>