<ui:composition template="/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="pedido" value="#{pedidoBean.selecionado}" />
		<f:viewAction action="#{pedidoBean.inicializar}" />
	</f:metadata>

    <ui:define name="titulo">#{pedidoBean.editando ? "Edição de pedido" : "Novo pedido"}</ui:define>
    
    <ui:define name="corpo">
    	<h:form id="frmCadastro">
	    	<h1>#{pedidoBean.editando ? "Edição de pedido" : "Novo pedido"}</h1>
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<ui:include src="/WEB-INF/template/pedido/BotoesPedido.xhtml" />
	    	
	    	<ui:include src="/WEB-INF/template/pedido/CapaPedido.xhtml" />
	    	
	    	<p:tabView style="margin-top: 20px">
	    		<p:tab title="Itens">
	    			<ui:include src="/WEB-INF/template/pedido/ItensPedido.xhtml" />
	    		</p:tab>
	    		<p:tab title="Dados de entrega">
	    			<ui:include src="/WEB-INF/template/pedido/DadosEntregaPedido.xhtml" />
	    		</p:tab>
	    		<p:tab title="Observação">
	    			<ui:include src="/WEB-INF/template/pedido/ObservacaoPedido.xhtml" />
	    		</p:tab>
	    	</p:tabView>
	    	
    	</h:form>
    </ui:define>
</ui:composition>