<ui:composition template="/templates/padrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<ui:define name="title">${msg['pedido.title']}</ui:define>
<ui:define name="operacao">${msg['commons.visualizar']}</ui:define>

<ui:define name="popup"><seinfra:pedidoPopup formulario="#{pedidoBean}" editando="true"/></ui:define>

<ui:define name="sideBar"><seinfra:menuLeft value="pedido"/></ui:define>
<ui:define name="toolbar"><seinfra:toolbar formulario="#{pedidoBean}" model="pedido" novo="true" salvar="true" fechar="true" /></ui:define>

<ui:define name="body">

    <div class="box ${tipo}">
        <div class="box-body">
        
                <p:dataTable id="pedidoTable" value="#{pedidoBean.model}" var="pedido"
	    		style="margin-top: 20px" emptyMessage="Nenhum pedido encontrado." tableStyleClass="table table-bordered table-hover dataTable"
				rows="5" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom" lazy="true">
		    	
                <p:column headerText="#{msg['pedido.id']}" styleClass="col-checkbox"><h:outputText value="#{pedido.id}" /></p:column>
                <p:column headerText="#{msg['pedido.cliente']}" styleClass="col-esquerdo"><h:outputText value="#{pedido.cliente.nome}" /></p:column>
                <p:column headerText="${msg['pedido.data.criacao']}" styleClass="col-esquerdo"><h:outputText value="#{pedido.dataCriacao}" posvalue="%"/></p:column>
                <p:column headerText="${msg['pedido.valor.total']}" styleClass="col-esquerdo"><h:outputText value="#{pedido.valorTotal}" posvalue="%"/></p:column>
                
                <p:column styleClass="col-id">
                    <p:commandLink styleClass="neutral-icon" action="#{pedidoBean.selecionar(pedido)}" process="@this"
                     oncomplete="abrirPopup('pedidoPopup');">
                        <seinfra:icon editar="true"/>
                        </p:commandLink>
               
                </p:column>
                
                <p:commandButton icon="ui-icon-pencil" title="Editar"
	    					process="@this" action="#{pedidoBean.editar}">
	    				<f:setPropertyActionListener target="#{pedidoBean.selecionado}" 
	    					value="#{pedido}" />
	    			</p:commandButton>
                
                <p:column styleClass="col-id">
                    <p:commandLink styleClass="alert-icon" action="#{pedidoBean.excluir(pedido)}" update="@form" process="@this" pt:data-confirma-mensagem="${msg['commons.mensagem.confirma.exclusao']}"><seinfra:icon icon="excluir"/></p:commandLink>
                </p:column>
                
            </p:dataTable>
        </div>
    </div>

</ui:define>

</ui:composition>
