<ui:composition template="/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:o="http://omnifaces.org/ui">

    <ui:define name="titulo"></ui:define>
    
    <ui:define name="corpo">
    	<f:metadata>
    		<o:viewParam name="categoria" value="#{categoriaBean.selecionado}" />
    		<f:viewAction action="#{categoriaBean.inicializar}" />
    	</f:metadata>

    	<h:form id="frm">
			<p:focus context="frm" />
			
	    	
	    	<p:messages autoUpdate="true" closable="true" />
	    	
	    	<p:toolbar style="margin-top: 20px">
	    		<p:toolbarGroup>
	    			<p:button value="Novo" outcome="/view/categoria/cadastro" />
	    			<p:commandButton value="Salvar" id="botaoSalvar"
	    				action="#{categoriaBean.salvar}" update="@form"
	    				validateClient="false" />
	    		</p:toolbarGroup>
	    		<p:toolbarGroup align="right">
	    			<p:button value="Pesquisa" outcome="/view/categoria/pesquisa" />
	    		</p:toolbarGroup>
	    	</p:toolbar>
	    	
	    	<p:panelGrid columns="2" id="painel" style="width: 100%; margin-top: 20px"
	    			columnClasses="rotulo, campo">
	    		
	    		<p:outputLabel value="Descricao" for="descricao"/>
	    		<p:inputText id="descricao" size="60" maxlength="80" value="#{categoriaBean.selecionado.descricao}" />
	    		
	    	</p:panelGrid>
    	</h:form>
    </ui:define>
</ui:composition>