<ui:composition template="/templates/padrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<ui:define name="title">${msg['categoria.title']}</ui:define>
<ui:define name="operacao">${msg['commons.visualizar']}</ui:define>

<ui:define name="popup"><seinfra:categoriaPopup formulario="#{categoriaBean}" editando="true"/></ui:define>

<ui:define name="sideBar"><seinfra:menuLeft value="categoria"/></ui:define>
<ui:define name="toolbar"><seinfra:toolbar formulario="#{categoriaBean}" model="categoria" novo="true" salvar="true" fechar="true" /></ui:define>

<ui:define name="body">

    <div class="box ${tipo}">
        <div class="box-body">
    
                <p:dataTable id="categoriaTable" value="#{categoriaBean.model}" var="categoria"
	    		style="margin-top: 20px" emptyMessage="Nenhum categoria encontrado." tableStyleClass="table table-bordered table-hover dataTable"
				rows="5" paginator="true" paginatorAlwaysVisible="true" paginatorPosition="bottom" lazy="true">
		    	
                <p:column headerText="#{msg['categoria.id']}" styleClass="col-checkbox"><h:outputText value="#{categoria.id}" /></p:column>
                <p:column headerText="${msg['categoria.descricao']}" styleClass="col-esquerdo"><h:outputText value="#{categoria.descricao}" posvalue="%"/></p:column>
                
                <p:column styleClass="col-id">
                    <p:commandLink styleClass="neutral-icon" action="#{categoriaBean.selecionar(categoria)}" process="@this"
                     oncomplete="abrirPopup('categoriaPopup');">
                        <seinfra:icon editar="true"/>
                        </p:commandLink>
               
                </p:column>
                
                <p:commandButton icon="ui-icon-pencil" title="Editar"
	    					process="@this" action="#{categoriaBean.editar}">
	    				<f:setPropertyActionListener target="#{categoriaBean.selecionado}" 
	    					value="#{categoria}" />
	    			</p:commandButton>
                
                <p:column styleClass="col-id">
                    <p:commandLink styleClass="alert-icon" action="#{categoriaBean.excluir(categoria)}" update="@form" process="@this" pt:data-confirma-mensagem="${msg['commons.mensagem.confirma.exclusao']}"><seinfra:icon icon="excluir"/></p:commandLink>
                </p:column>
                
            </p:dataTable>
        </div>
    </div>

</ui:define>

</ui:composition>
