<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:cc="http://java.sun.com/jsf/composite"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

    <c:if test="#{empty tipo}">
        <c:choose>
            <c:when test="#{alert == true}"><c:set var="tipo" value="alert" /></c:when>
            <c:when test="#{warning == true}"><c:set var="tipo" value="warning" /></c:when>
            <c:when test="#{success == true}"><c:set var="tipo" value="success" /></c:when>
            <c:when test="#{neutral == true}"><c:set var="tipo" value="neutral" /></c:when>
        </c:choose>
    </c:if>
    
    <c:if test="#{empty icon}">
        <c:choose>
            <c:when test="#{adicionar == true}"><c:set var="icon" value="adicionar" /></c:when>
            <c:when test="#{cancelar == true}"><c:set var="icon" value="cancelar" /></c:when>
            <c:when test="#{fechar == true}"><c:set var="icon" value="fechar" /></c:when>
            <c:when test="#{duplicar == true}"><c:set var="icon" value="duplicar" /></c:when>
            <c:when test="#{edit == true or editar == true}"><c:set var="icon" value="editar" /></c:when>
            <c:when test="#{excluir == true}"><c:set var="icon" value="excluir" /></c:when>
            <c:when test="#{limpar == true}"><c:set var="icon" value="limpar" /></c:when>
            <c:when test="#{novo == true}"><c:set var="icon" value="novo" /></c:when>
            <c:when test="#{salvar == true}"><c:set var="icon" value="salvar" /></c:when>
            
            <c:when test="#{ok == true}"><c:set var="icon" value="ok" /></c:when>
            <c:when test="#{visualizar == true}"><c:set var="icon" value="visualizar" /></c:when>
            <c:when test="#{financeiro == true}"><c:set var="icon" value="financeiro" /></c:when>
        </c:choose>
    </c:if>
    
    <c:if test="#{empty tooltip}"><c:set var="tooltip" value="#{icons.getText(icon)}" /></c:if>
    
    <h:outputText rendered="#{not empty icon and rendered != 'false'}"
            style="#{style}" styleClass="#{icons.getIcon(icon)} #{styleClass} #{icons.getStyle(tipo)}"
            pt:data-toggle="tooltip" pt:data-original-title="#{notext != true ? tooltip : ''}" />
    
</ui:composition>
