<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

    <c:if test="#{empty id}">
        <c:set var="id" value="#{gerador.nextId}" />
    </c:if>

    <c:if test="#{empty required}">
        <c:set var="required" value="false" />
    </c:if>

    <c:if test="#{required eq true and empty requiredMessage}">
        <c:set var="requiredMessage" value="O campo '#{label}' é obrigatório" />
    </c:if>

    <c:if test="#{empty rendered}">
        <c:set var="rendered" value="true" />
    </c:if>
    
    <c:if test="#{empty placeholder}">
        <c:set var="placeholder" value="..." />
    </c:if>
    
    <c:if test="#{empty readonly}">
        <c:set var="readonly" value="false" />
    </c:if>
    
    <c:if test="#{empty reRender}">
        <c:set var="reRender" value="false" />
    </c:if>
    
    <c:if test="#{empty ajaxSingle}">
        <c:set var="ajaxSingle" value="false" />
    </c:if>
    
    <c:if test="#{empty maxlength}">
        <c:set var="maxlength" value="0" />
    </c:if>
    
    <c:if test="#{empty maxColumns}">
        <c:set var="maxColumns" value="12" />
    </c:if>
    
    <c:if test="#{empty labelColumns and not empty label}">
        <c:set var="labelColumns" value="3" />
    </c:if>
    
    <c:if test="#{formGroup == true}">
        <c:if test="#{empty formGroupClass}">
            <c:set var="formGroupClass" value="col-lg-#{maxColumns}" />
        </c:if>
        <c:set var="maxColumns" value="-1" />
        <c:set var="labelColumns" value="-1" />
    </c:if>
    
    <c:if test="#{empty labelClass}">
        <c:set var="labelClass" value="control-label col-lg-#{labelColumns}" />
    </c:if>
    
    <c:if test="#{empty valueClass}">
        <c:set var="valueClass" value="col-lg-#{maxColumns - labelColumns}" />
    </c:if>
    
    <f:subview id="subview-#{id}" rendered="#{rendered}">
        
        <c:if test="#{formGroup == true}">
            <p:outputPanel styleClass="#{formGroupClass} #{colClass}">
                <div class="form-label-group">
                    <h:inputTextarea id="#{id}" value="#{value}" onkeypress="#{onkeypress}" requiredMessage="#{requiredMessage}" required="#{required}"
                            onfocus="#{onfocus}" onkeyup="#{onkeyup}" disabled="#{disabled}"
                            rendered="#{not readonly}" style="#{style}" styleClass="form-control #{styleClass}" pt:placeholder="#{placeholder}">
                        
                        <f:ajax render="formulario" event="change" disabled="#{not reRender}"/>
                    
                    </h:inputTextarea>
                    
                    <h:outputText id="#{id}-readonly" value="#{value}" class="form-control textarea readonly #{styleClass}" rendered="#{readonly}" scale="#{scale}" round="#{round}"/>
                    
                    <h:outputLabel for="#{id}" rendered="#{not empty label}">
                        <h:outputText value="*" styleClass="required" rendered="#{required}"/>
                        <h:outputText value="#{label}:"/>
                        <h:outputText styleClass="ajuda fa fa-question-circle pull-right neutral-icon" pt:data-toggle="tooltip" pt:data-original-title="${ajuda}" rendered="${not empty ajuda}"/>
                    </h:outputLabel>
                    
                    <h:outputText value="*" class="input required" rendered="#{required and empty label}" />
                </div>
            </p:outputPanel>
        </c:if>
        
        <c:if test="#{formGroup != true}">
        
            <h:column rendered="#{not empty label and not intable}">
                <div class="#{labelClass}">
                    <h:outputLabel value="*" styleClass="required" rendered="#{required}"/>
                    <h:outputLabel value="#{label}:" for="#{id}" />
                </div>
            </h:column>
            
            <div class="#{not empty posvalue or not empty prevalue ? 'input-group' : ''} #{not intable ? valueClass : ''} #{not intable ? 'margin-input' : ''} #{not empty feedback ? 'has-feedback' : ''}">
            
                
                <h:inputTextarea id="#{id}" value="#{value}" onkeypress="#{onkeypress}" requiredMessage="#{requiredMessage}" required="#{required}"
                        onfocus="#{onfocus}" onkeyup="#{onkeyup}" disabled="#{disabled}"
                        rendered="#{not readonly}" style="#{style}" styleClass="form-control #{styleClass}" pt:placeholder="#{placeholder}">
                    
                    <f:ajax render="formulario" event="change" disabled="#{not reRender}"/>
                
                </h:inputTextarea>
                
                <h:outputText id="#{id}-readonly" value="#{value}" class="form-control readonly #{styleClass}" rendered="#{readonly}" scale="#{scale}" style="min-height: 64px;"/>
                
                <c:if test="#{required and empty label}"><span class="required">*</span></c:if>
                
            </div>
        </c:if>
    </f:subview>

</ui:composition>
