<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

    <c:if test="#{empty id}">
        <c:set var="id" value="#{gerador.nextId}" />
    </c:if>
    
    <c:set var="idclass" value="#{id}" />
    
    <c:if test="#{empty required}">
        <c:set var="required" value="false" />
    </c:if>

    <c:if test="#{required eq true and empty requiredMessage}">
        <c:set var="requiredMessage" value="O campo '#{label}' é obrigatório" />
    </c:if>

    <c:if test="#{empty rendered}">
        <c:set var="rendered" value="true" />
    </c:if>

    <c:if test="#{empty readonly}">
        <c:set var="readonly" value="false" />
    </c:if>
    
    <c:if test="#{empty maxlength}">
        <c:set var="maxlength" value="0" />
    </c:if>

    <c:if test="#{empty reRender}">
        <c:set var="reRender" value="false" />
    </c:if>
    
    <c:if test="#{empty form and update eq true}">
        <c:set var="form" value="@form" />
    </c:if>
    <c:if test="#{empty form}">
        <c:set var="form" value="" />
    </c:if>
    <c:if test="#{empty ajaxevent}">
        <c:set var="ajaxevent" value="change" />
    </c:if>
    <c:if test="#{empty ajaxglobal}">
        <c:set var="ajaxglobal" value="true" />
    </c:if>
    
    <c:if test="#{empty allowWeekend}">
        <c:set var="allowWeekend" value="true" />
    </c:if>
    
    <c:if test="#{empty placeholder}">
        <c:set var="placeholder" value="" />
    </c:if>
    
    <c:if test="#{empty maxColumns}">
        <c:set var="maxColumns" value="12" />
    </c:if>
    
    <c:if test="#{empty pattern}">
        <c:set var="pattern" value="dd/MM/yyyy" />
    </c:if>
    
    <c:if test="#{empty mask}">
        <c:set var="mask" value="99/99/9999" />
    </c:if>
    
    <c:if test="#{empty labelColumns and not empty label}">
        <c:set var="labelColumns" value="3" />
    </c:if>
    
    <c:if test="#{formGroup == true}">
        <c:if test="#{empty formGroupClass}">
            <c:set var="formGroupClass" value="col-lg-#{maxColumns}" />
        </c:if>
        <c:set var="maxColumns" value="-1" />
        <c:set var="labelColumns" value="-1" />
    </c:if>
    
    <c:if test="#{empty labelClass}">
        <c:set var="labelClass" value="control-label col-lg-#{labelColumns}" />
    </c:if>
    
    <c:if test="#{empty valueClass}">
        <c:set var="valueClass" value="col-lg-#{maxColumns - labelColumns}" />
    </c:if>
    
    <c:set var="maxDate" value="#{empty maxDate ? '' : gerador.getDate(maxDate)}" />
    <c:set var="minDate" value="#{empty minDate ? '' : gerador.getDate(minDate)}" />
    
    <f:subview id="subview-#{id}" rendered="#{rendered}">
        
        <c:if test="#{formGroup == true}">
            <p:outputPanel styleClass="#{formGroupClass} #{colClass}">
                <div class="form-label-group #{showCalendar == true and not readonly ? 'input-group' : ''}">
                    
                    <h:inputText id="#{id}" value="#{value}" onkeypress="#{onkeypress}" style="#{style}" styleClass="form-control #{styleClass} #{idclass} #{showCalendar == true ? 'calendar' : ''}" rendered="#{not readonly}"
                            onblur="#{onblur}" onkeyup="#{onkeyup}" pt:placeholder="#{placeholder}" required="#{required}" requiredMessage="#{requiredMessage}" disabled="#{disabled}" format="#{pattern}"
                            pt:data-inicio="#{minDate}" pt:data-termino="#{maxDate}" pt:data-format="#{pattern.toUpperCase()}" pt:data-single="#{value.getClass().getSimpleName() ne 'Periodo'}"
                            pt:data-ajax-update="#{form}" pt:data-ajax-enable="#{update and showCalendar}" pt:data-ajax-global="#{ajaxglobal}" pt:data-weekend-allowed="#{allowWeekend}">
                        <p:ajax update="#{form}" event="#{ajaxevent}" global="#{ajaxglobal}" disabled="#{not update or showCalendar}" />
                    </h:inputText>
                    
                    <h:outputLabel for="#{id}" rendered="#{not empty label}" styleClass="#{readonly ? 'label-readonly' : ''}">
                        <h:outputText value="*" styleClass="required" rendered="#{required}"/>
                        <h:outputText value="#{label}:"/>
                        <h:outputText styleClass="ajuda fa fa-question-circle pull-right neutral-icon" pt:data-toggle="tooltip" pt:data-original-title="${ajuda}" />
                    </h:outputLabel>
                    
                    <h:outputText id="#{id}-readonly" value="#{value}" class="form-control readonly #{styleClass}" rendered="#{readonly}" scale="#{scale}" round="#{round}"/>
                        
                    <c:if test="#{showCalendar == true}">
                        <div class="input-group-addon #{readonly ? 'readonly' : ''} #{disabled ? 'disabled' : ''} #{styleClass}">
                            <i class="fa fa-calendar"></i></div></c:if>
                    
                    <h:outputText value="*" class="input required" rendered="#{required and empty label}" />
                </div>
            </p:outputPanel>
        </c:if>
        
        <c:if test="#{formGroup != true}">
        
            <h:column rendered="#{not empty label and not intable}">
                <div class="#{labelClass}">
                    <h:outputLabel value="*" styleClass="required" rendered="#{required}"/>
                    <h:outputLabel value="#{label}:" for="#{id}" />
                </div>
            </h:column>
            
            <div class="#{showCalendar == true ? 'input-group' : ''} #{not intable ? valueClass : ''} #{not intable ? 'margin-input' : ''}">
                <h:inputText id="#{id}" value="#{value}" onkeypress="#{onkeypress}" style="#{style}" styleClass="form-control #{styleClass} #{idclass} #{showCalendar == true ? 'calendar' : ''}" rendered="#{not readonly}"
                        onblur="#{onblur}" onkeyup="#{onkeyup}" pt:placeholder="#{placeholder}" required="#{required}" requiredMessage="#{requiredMessage}" disabled="#{disabled}" format="#{pattern}"
                        pt:data-inicio="#{minDate}" pt:data-termino="#{maxDate}" pt:data-format="#{pattern.toUpperCase()}" pt:data-single="#{value.getClass().getSimpleName() ne 'Periodo'}"
                        pt:data-ajax-update="#{form}" pt:data-ajax-enable="#{update and showCalendar}" pt:data-ajax-global="#{ajaxglobal}" pt:data-weekend-allowed="#{allowWeekend}">
                    <p:ajax update="#{form}" event="#{ajaxevent}" global="#{ajaxglobal}" disabled="#{not update or showCalendar}" />
                </h:inputText>
                
                <h:outputText id="#{id}-readonly" value="#{value}" class="form-control readonly #{styleClass}" rendered="#{readonly}" format="#{pattern}"/>
                
                <c:if test="#{showCalendar == true}">
                    <div class="input-group-addon #{readonly ? 'readonly' : ''} #{disabled ? 'disabled' : ''} #{styleClass}">
                        <i class="fa fa-calendar"></i></div></c:if>
                
                <c:if test="#{required and empty label}"><span class="required">*</span></c:if>
            </div>
        </c:if>
         
    </f:subview>
</ui:composition>