<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

    <c:if test="#{empty id}">
        <c:set var="id" value="#{gerador.nextId}" />
    </c:if>

    <c:if test="#{empty required}">
        <c:set var="required" value="false" />
    </c:if>

    <c:if test="#{required eq true and empty requiredMessage}">
        <c:set var="requiredMessage" value="O campo '#{empty label ? id : label}' é obrigatório" />
    </c:if>

    <c:if test="#{empty autofocus}">
        <c:set var="autofocus" value="false" />
    </c:if>

    <c:if test="#{empty rendered}">
        <c:set var="rendered" value="true" />
    </c:if>

    <c:if test="#{empty form and update eq true}">
        <c:set var="form" value="@form" />
    </c:if>
    <c:if test="#{empty ajaxevent}">
        <c:set var="ajaxevent" value="change" />
    </c:if>
    <c:if test="#{empty ajaxglobal}">
        <c:set var="ajaxglobal" value="true" />
    </c:if>

    <c:if test="#{empty readonly}">
        <c:set var="readonly" value="false" />
    </c:if>
    
    <c:if test="#{empty scale}">
        <c:set var="scale" value="" />
    </c:if>
    
    <c:if test="#{empty placeholder}">
        <c:set var="placeholder" value="" />
    </c:if>
    
    <c:if test="#{empty maxlength}">
        <c:set var="maxlength" value="0" />
    </c:if>

    <c:if test="#{empty reRender}">
        <c:set var="reRender" value="false" />
    </c:if>
    
    <c:if test="#{empty ajaxSingle}">
        <c:set var="ajaxSingle" value="false" />
    </c:if>
    
    <c:if test="#{empty maxColumns}">
        <c:set var="maxColumns" value="12" />
    </c:if>
    
    <c:if test="#{empty labelColumns and not empty label}">
        <c:set var="labelColumns" value="3" />
    </c:if>
    
    <c:if test="#{formGroup == true}">
        <c:if test="#{empty formGroupClass}">
            <c:set var="formGroupClass" value="col-lg-#{maxColumns}" />
        </c:if>
        <c:set var="maxColumns" value="-1" />
        <c:set var="labelColumns" value="-1" />
    </c:if>
    
    <c:if test="#{empty labelClass}">
        <c:set var="labelClass" value="control-label col-lg-#{labelColumns}" />
    </c:if>
    
    <c:if test="#{empty valueClass}">
        <c:set var="valueClass" value="col-lg-#{maxColumns - labelColumns}" />
    </c:if>
    
    <c:set var="hasfeedback" value="#{not empty feedback or not empty feedbackStyleClass}" />
    
    
    <f:subview id="subview-#{id}" rendered="#{rendered}">
        
        <c:if test="#{formGroup == true}">
            <p:outputPanel styleClass="#{formGroupClass} #{colClass}">
                <div class="form-label-group #{(not empty posvalue or not empty prevalue) and not readonly ? 'input-group' : ''} #{hasfeedback ? 'has-feedback' : ''}">
                
                    <h:outputText value="#{prevalue}" class="input-group-addon #{readonly ? 'readonly' : ''} #{disabled ? 'disabled' : ''}" rendered="#{not empty prevalue}" />
                    
                    <h:inputText id="#{id}" value="#{value}" onkeypress="#{onkeypress}" style="#{style}" styleClass="form-control #{styleClass}" onblur="#{onblur}" onkeyup="#{onkeyup};"
                            disabled="#{disabled}" rendered="#{not readonly}" pt:placeholder="#{empty placeholder ? '...' : placeholder}" required="#{required}" requiredMessage="#{requiredMessage}" scale="#{scale}" round="#{round}"
                            pt:required="#{required}" pt:type="#{email == 'true' ? 'email': 'text'}" pt:autofocus="#{autofocus}">
                        
                        <c:if test="#{not empty converter}"><f:converter converterId="#{converter}"/></c:if>
                        <p:ajax update="#{form}" event="#{ajaxevent}" global="#{ajaxglobal}" disabled="#{not update}" />
                    </h:inputText>
                    
                    <h:outputLabel for="#{id}" rendered="#{not empty label}" styleClass="#{readonly ? 'label-readonly' : ''} #{labelClass}">
                        <h:outputText value="*" styleClass="required" rendered="#{required}"/>
                        <h:outputText value="#{label}:"/>
                        <h:outputText styleClass="ajuda fa fa-question-circle pull-right neutral-icon" pt:data-toggle="tooltip" pt:data-original-title="${ajuda}" rendered="${not empty ajuda}"/>
                    </h:outputLabel>
                    
                    <h:outputText id="#{id}-readonly" value="#{value}" class="form-control readonly #{styleClass}" rendered="#{readonly}" scale="#{scale}" round="#{round}"/>
                        
                    <h:outputText value="#{posvalue}" class="input-group-addon #{styleClass} #{readonly ? 'readonly' : ''}" rendered="#{not empty posvalue}" />
                    
                    <h:outputText value="#{feedback}" class="form-control-feedback #{styleClass} #{feedbackStyleClass} #{readonly ? 'readonly11' : ''}" rendered="#{hasfeedback}" />
                        
                    <h:outputText value="*" class="input required" rendered="#{required and empty label}" />
                </div>
            </p:outputPanel>
        </c:if>
        
        <c:if test="#{formGroup != true}">
        
            <h:column rendered="#{not empty label and not intable}">
                <div class="#{labelClass}">
                    <h:outputLabel value="*" styleClass="required" rendered="#{required}"/>
                    <h:outputLabel value="#{label}:" for="#{id}" />
                </div>
            </h:column>
            
            <div class="#{not empty posvalue or not empty prevalue ? 'input-group' : ''} #{not intable ? valueClass : ''} #{not intable ? colClass : ''} #{not intable ? 'margin-input' : ''} #{hasfeedback ? 'has-feedback' : ''}">
            
                <h:outputText value="#{prevalue}" class="input-group-addon #{readonly ? 'readonly' : ''} #{disabled ? 'disabled' : ''}" rendered="#{not empty prevalue}" />

                <h:inputText id="#{id}" value="#{value}" onkeypress="#{onkeypress}" style="#{style}" styleClass="form-control #{styleClass}" onblur="#{onblur}" onkeyup="#{onkeyup};"
                        disabled="#{disabled}" rendered="#{not readonly}" pt:placeholder="#{placeholder}" required="#{required}" requiredMessage="#{requiredMessage}" scale="#{scale}" round="#{round}"
                        pt:required="#{required}" pt:type="#{email == 'true' ? 'email': 'text'}" pt:autofocus="#{autofocus}">
                  
                    <c:if test="#{not empty converter}"><f:converter converterId="#{converter}"/></c:if>
                    <p:ajax update="#{form}" event="#{ajaxevent}" global="#{ajaxglobal}" disabled="#{not update}"/>
                </h:inputText>
                
                <h:outputText id="#{id}-readonly" value="#{value}" class="form-control readonly #{styleClass}" rendered="#{readonly}" scale="#{scale}" round="#{round}"/>
                
                <h:outputText value="#{posvalue}" class="input-group-addon #{styleClass} #{readonly ? 'readonly' : ''}" rendered="#{not empty posvalue}" />
                
                <h:outputText value="#{feedback}" class="form-control-feedback #{styleClass} #{feedbackStyleClass} #{readonly ? 'readonly11' : ''}" rendered="#{hasfeedback}" />
                
                <h:outputText value="*" class="input required" rendered="#{required and empty label}" />
                
            </div>
        </c:if>
        
    </f:subview>
</ui:composition>
