<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

    <c:set var="classselecionado" value="selecionado active" />
    
    <c:set var="projeto" value="#{crudProjeto.selecionado}" />
    <c:set var="resumo" value="#{projeto.resumo}" />
    <c:set var="isnew" value="#{empty projeto.id}" />
    <c:set var="temTarefas" value="#{projeto.temTarefas}" />
    <c:set var="projetostatus" value="#{resumo.status}" />
    <c:set var="config" value="#{projeto.config}" />
    
    <c:set var="projetoid" value="#{empty projeto.id ? 0 : projeto.id}" />
    
    <c:set var="classstatus" value="#{isnew ? 'disabled' : ''}" />
    <c:set var="classplanejamento" value="#{isnew or not permissoesProjeto.tarefa.ver ? 'disabled' : ''}" />
    <c:set var="classmedicoes" value="#{isnew or not permissoesProjeto.medicao.ver or not temTarefas ? 'disabled' : ''}" />
    <c:set var="classdiarioobra" value="#{isnew or not permissoesProjeto.diario.ver ? 'disabled' : ''} dispoff" />
    <c:set var="classfotos" value="#{isnew or not permissoesProjeto.arquivo.ver ? 'disabled' : ''}" />
    <c:set var="classgraficos" value="#{isnew or not permissoesProjeto.graficos.ver ? 'disabled' : ''}" />
    <c:set var="classrelatorios" value="#{isnew or not permissoesProjeto.relatorios.ver ? 'disabled' : ''}" />
    
    <c:set var="classcomentarios" value="#{'disabled'}" />
    
    <c:set var="classconfiguracoes" value="#{isnew or (not permissoesProjeto.arredondamento.ver and not permissoes.projeto.criar) ? 'disabled' : ''}" />
    <c:set var="classpermissoes" value="#{isnew or not permissoesProjeto.permissoes.ver ? 'disabled' : ''}" />
    <c:set var="classconfigdiarioobra" value="#{isnew or not permissoesProjeto.configurar.diario ? 'disabled' : ''}" />
    <c:set var="classlog" value="#{isnew or not permissoes.foda.ver ? 'disabled dispoff' : ''}" />

    <div class="user-panel">
        <div class="pull-left image">
            <img src="#{not empty projeto.imagem ? projeto.imagem.miniatura : contextPath.concat('/resources/op/img/padrao.png')}"
                    data-toggle="tooltip" data-original-title="${msg['projeto.title']}: ${projeto.nome}"/>
        </div>
        <div class="pull-left info">
        
            <p class="sr-only">${projeto.nome}</p>
            
            <h:link outcome="#{navegacao.projetoVisualizar}" styleClass="label bg-${projetostatus} status" pt:data-toggle="tooltip" pt:data-original-title="${msg['projeto.status.texto.'.concat(projetostatus)]}">
                <f:param name="id" value="#{projetoid}" />${msg['projeto.status.'.concat(projetostatus)]}</h:link>
            
            <div class="progress"><div style="width: ${resumo.percentualConcluido}%" class="progress-bar bg-${projetostatus}"></div></div>
            
            <div class="progress-description">
                <strong><h:outputText value="#{resumo.percentualConcluido}" scale="#{config.scaleProjetoPercentual}" round="#{config.roundGeral}" posvalue="%"/></strong> ${msg['commons.concluido']}
            </div>
            
        </div>
    </div>
    
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header maiusculo">${msg['menu.projeto.planejamento']}</li>
        
        <li class="${value eq 'projeto' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoVisualizar}"><f:param name="id" value="#{projetoid}" /><i class="fa fa-edit"/><span>${msg['menu.projeto.principal']}</span></h:link></li>
        <li class="${classstatus} ${value eq 'status' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoStatusVisualizar}"><f:param name="id" value="#{projetoid}" /><i class="fa fa-info-circle"/><span>${msg['menu.projeto.status']}</span></h:link></li>
        <li class="${classplanejamento} ${value eq 'planejamento' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoPlanejamentoListar}"><f:param name="id" value="#{projetoid}" /><i class="fa fa-list-ol"/><span>${msg['menu.projeto.tarefas']}</span></h:link></li>
        
        <li class="header maiusculo">${msg['menu.projeto.acompanhamento']}</li>
        
        <li class="${classmedicoes} ${value eq 'medicao' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoMedicaoListar}"><f:param name="id" value="#{projetoid}" /><seinfra:icon icon="medicao"/><span>${msg['menu.projeto.medicoes']}</span>
            <h:outputText value="#{resumo.quantidadeMedicoesPendentes}" styleClass="label label-warning pull-right" rendered="#{resumo.quantidadeMedicoesPendentes gt 0}"/></h:link></li>
        
        <li class="${classdiarioobra} ${value eq 'diario' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoDiariosListar}"><f:param name="id" value="#{projetoid}" /><seinfra:icon icon="diario"/><span>${msg['menu.projeto.diario']}</span>
            <seinfra:label styleClass="bg-warning pull-right" quantidade="#{resumo.quantidadeDiariosPendentes}"/>
            <seinfra:label styleClass="bg-REVISAR pull-right" quantidade="#{resumo.quantidadeDiariosRevisar}"/></h:link></li>
        
        <li class="${classfotos} ${value eq 'fotos' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoArquivosVisualizar}"><f:param name="id" value="#{projetoid}" /><i class="fa fa-camera"/><span>${msg['menu.projeto.arquivos']}</span></h:link></li>
        <li class="${classgraficos} ${value eq 'graficos' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoGraficosVisualizar}"><f:param name="id" value="#{projetoid}" /><i class="fa fa-chart-bar"/><span>${msg['menu.projeto.graficos']}</span></h:link></li>
        <li class="${classrelatorios} ${value eq 'relatorios' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoRelatoriosVisualizar}"><f:param name="id" value="#{projetoid}" /><i class="fa fa-file-pdf"/><span>${msg['menu.projeto.relatorios']}</span></h:link></li>
        
        <li class="header maiusculo">${msg['menu.projeto.configuracoes']}</li>
        
        <li class="${classconfiguracoes} ${value eq 'configuracoes' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoConfigurarArredondamento}"><f:param name="id" value="#{projetoid}" /><i class="fa fa-sliders-h"/><span>${msg['menu.projeto.arredondamento']}</span></h:link></li>
        <li class="${classpermissoes} ${value eq 'permissoes' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoConfigurarPermissoes}"><f:param name="id" value="#{projetoid}" /><i class="fa fa-users-cog"/><span>${msg['menu.projeto.permissoes']}</span></h:link></li>
        <li class="${classdiarioobra} ${value eq 'configdiario' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoConfigurarDiarios}"><f:param name="id" value="#{projetoid}" /><i class="far fa-calendar-times"/><span>${msg['menu.projeto.diario']}</span></h:link></li>
        <li class="${classlog} ${value eq 'historico' ? classselecionado : ''}"><h:link outcome="#{navegacao.projetoHistoricoVisualizar}"><f:param name="id" value="#{projetoid}" /><i class="fa fa-history"/><span>${msg['menu.projeto.historico']}</span></h:link></li>
        <li class="${classcomentarios} ${value eq 'comentarios' ? classselecionado : ''}"><h:commandLink action="#{viewProjetoComentarios.iniciar()}"><i class="fa fa-comments"/><span>${msg['menu.projeto.comentarios']}</span></h:commandLink></li>
    </ul>
</ui:composition>
