<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

<h:form styleClass="menu-principal">
    <ul class="nav navbar-nav">

        <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <h:commandLink action="#{listProjetos.iniciar()}">
                <i class="fa fa-project-diagram"/> <span class="hidden-xs">${msg['menu.left.pedido']}</span>
                <!-- span class="label label-success">4</span-->
            </h:commandLink>
        </li>
        <li class="dropdown messages-menu">
            <a href="/pedv/"><i class="fa fa-th-large"/> <span class="hidden-xs">Voltar ao Painel</span></a>
        </li>
        <li class="dropdown messages-menu">
            <a href="/pedv/logout"> <i class="fa fa-power-off"/> 
            <span class="hidden-xs">${msg['commons.sair']}</span>
            </a>
        </li>
     
    </ul>
</h:form>
        
</ui:composition>
