<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    
    <c:set var="classselecionado" value="selecionado active" />
    <div class="user-panel">
        <div class="pull-left image">
            <img src="#{viewPrincipal.foto}" class="img-circle"/>
        </div>
        <div class="pull-left info">
            <p><h:outputText value="#{seguranca.nomeUsuario}" styleClass="small maiusculo"/></p>
            <a href="#"><i class="fa fa-circle text-success"></i>
            <span>#{seguranca.nomeUsuario}</span></a>
        </div>
    </div>
    
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header maiusculo">${msg['menu.cadastro']}</li>
        <li><h:link outcome="/view/cliente/pesquisa"><i class="fa fa-user"/><span>${msg['menu.left.cliente']}</span></h:link></li>
        <li><h:link outcome="/view/categoria/pesquisa"><i class="fa fa-boxes"/><span>${msg['menu.left.categoria']}</span></h:link></li>
        <li><h:link outcome="/view/produto/pesquisa"><i class="fa fa-cart-arrow-down"/><span>${msg['menu.left.produto']}</span></h:link></li>
        
        <li class="header maiusculo">${msg['menu.administracao']}</li>
        <li><h:link outcome="/view/pedido/pesquisa"><i class="fa fa-tag"/><span>${msg['menu.left.pedido']}</span></h:link></li>

     	<li class="header maiusculo">${msg['menu.seguranca']}</li>
        <li><h:link outcome="/view/permissao/pesquisa"><i class="fa fa-unlock-alt"/><span>${msg['menu.left.permissao']}</span></h:link></li>
        <li><h:link outcome="/view/perfil/pesquisa"><i class="fa fa-user-plus"/><span>${msg['menu.left.perfil']}</span></h:link></li>
        <li><h:link outcome="/view/usuario/pesquisa"><i class="fa fa-users"/><span>${msg['menu.left.usuario']}</span></h:link></li>
        
    </ul>
</ui:composition>
