<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

	<c:if test="#{empty id}">
        <c:set var="id" value="#{gerador.nextId}" />
    </c:if>
    
    <c:if test="#{empty rendered}">
		<c:set var="rendered" value="true" />
	</c:if>
	
	<c:if test="#{empty pattern}">
       <c:set var="pattern" value="dd/MM/yyyy" />
    </c:if>
	
	<c:if test="#{empty value}">
       <c:set var="value" value="#{dataCorrente}" />
    </c:if>
	
	<c:if test="#{not empty label}">
	   <h:outputLabel value="#{label}:" for="#{id}" rendered="#{rendered}" />
	</c:if>

	<h:outputText value="#{value}" id="#{id}" rendered="#{rendered}" style="#{style}">
	   <f:convertDateTime pattern="#{pattern}"  />
	</h:outputText>

</ui:composition>

