<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

	<c:if test="#{empty rendered}">
		<c:set var="rendered" value="true" />
	</c:if>
    
    <c:if test="#{empty readonly}">
        <c:set var="readonly" value="false" />
    </c:if>
    
    <c:if test="#{empty update}">
        <c:set var="update" value="false" />
    </c:if>
    
    <c:if test="#{empty maxColumns}">
        <c:set var="maxColumns" value="12" />
    </c:if>
    
    <c:if test="#{empty form and update eq true}">
        <c:set var="form" value="@form" />
    </c:if>
    <c:if test="#{empty ajaxevent}">
        <c:set var="ajaxevent" value="change" />
    </c:if>
    <c:if test="#{empty ajaxglobal}">
        <c:set var="ajaxglobal" value="true" />
    </c:if>
    
    <f:subview id="subview-#{id}" rendered="#{rendered}">
        <div class="form-group col-lg-#{maxColumns} checkbox #{colClass}">
    	   
            <h:selectBooleanCheckbox id="#{id}" value="#{value}" disabled="#{readonly or disabled}" styleClass="#{id}" onchange="#{onchange}">
                <p:ajax update="#{form}" event="#{ajaxevent}" global="#{ajaxglobal}" disabled="#{not update}" />
            </h:selectBooleanCheckbox>
           
            <h:outputText id="#{id}-true" rendered="#{false and readonly and value eq true}" styleClass="fa fa-check-square-o" style="font-size: 1.2em;"/>
    	    <h:outputText id="#{id}-false" rendered="#{false and readonly and value ne true}" styleClass="fa fa-square-o" style="font-size: 1.2em;"/>
           
    	    <h:outputLabel for="#{id}" rendered="#{not empty label}" styleClass="#{labelStyleClass}">
                <seinfra:icon icon="#{icon}"/> #{label}
            </h:outputLabel>
           
            <h:outputText styleClass="fa fa-question-circle neutral-icon ajuda" pt:data-toggle="tooltip" pt:data-original-title="${ajuda}" rendered="${not empty ajuda}"/>
        </div>
        
	</f:subview>
	
</ui:composition>
