<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:seinfrac="http://www.seinfra.ce.gov.br/components">

    <c:if test="#{empty id}">
        <c:set var="id" value="#{gerador.nextId}" />
    </c:if>

    <c:if test="#{empty required}">
        <c:set var="required" value="false" />
    </c:if>

    <c:if test="#{required eq true and empty requiredMessage}">
        <c:set var="requiredMessage" value="O campo '#{empty label ? id : label}' é obrigatório" />
    </c:if>

    <c:if test="#{empty rendered}">
        <c:set var="rendered" value="true" />
    </c:if>

    <c:if test="#{empty allowNewItem}">
        <c:set var="allowNewItem" value="false" />
    </c:if>
    
    <c:if test="#{empty size}">
        <c:set var="size" value="1" />
    </c:if>
    
    <c:if test="#{empty id}">
        <c:set var="id" value="select_#{dataCorrente.time}" />
    </c:if>
    
    <c:if test="#{empty readonly}">
        <c:set var="readonly" value="false" />
    </c:if>
    
    <c:if test="#{empty reRender}">
        <c:set var="reRender" value="false" />
    </c:if>
    
    <c:if test="#{empty ajaxSingle}">
        <c:set var="ajaxSingle" value="false" />
    </c:if>
    <c:if test="#{empty ajaxevent}">
        <c:set var="ajaxevent" value="change" />
    </c:if>
    <c:if test="#{empty ajaxglobal}">
        <c:set var="ajaxglobal" value="true" />
    </c:if>
    <c:if test="#{empty form and update eq true}">
        <c:set var="form" value="formulario" />
    </c:if>
    
    <c:if test="#{empty maxColumns}">
        <c:set var="maxColumns" value="12" />
    </c:if>
    
    <c:if test="#{empty labelColumns and not empty label}">
        <c:set var="labelColumns" value="3" />
    </c:if>
    
    <c:if test="#{formGroup == true}">
        <c:if test="#{empty formGroupClass}">
            <c:set var="formGroupClass" value="col-lg-#{maxColumns}" />
        </c:if>
        <c:set var="maxColumns" value="-1" />
        <c:set var="labelColumns" value="-1" />
    </c:if>
    
    <c:if test="#{empty labelClass}">
        <c:set var="labelClass" value="control-label col-lg-#{labelColumns}" />
    </c:if>
    
    <c:if test="#{empty valueClass}">
        <c:set var="valueClass" value="col-lg-#{maxColumns - labelColumns}" />
    </c:if>
    
    
    <f:subview id="subview-#{id}" rendered="#{rendered}">
        <c:if test="#{formGroup == true}">
            <div class="form-group #{formGroupClass} #{colClass}">
                <h:column rendered="#{not empty label}">
                    <div class="#{labelClass}">
                        <h:outputLabel value="*" styleClass="required" rendered="#{required}"/>
                        <h:outputLabel value="#{label}:" for="#{id}" />
                    </div>
                </h:column>
                
                <div>
                    <seinfrac:selectOneListbox disabled="#{disabled}" id="#{id}" value="#{value}" size="#{size}" onkeypress="#{onkeypress}" requiredMessage="#{requiredMessage}"
                            onblur="#{onblur}" rendered="#{not readonly}" style="#{style}" styleClass="form-control #{styleClass}" onkeyup="#{onkeyup}" required="#{required}"
                            converter="#{converter}" allowNewItem="#{allowNewItem}" >
                        
                        <c:if test="#{not empty firstValue or not empty firstLabel}">
                            <f:selectItem itemLabel="#{firstLabel}" itemValue="#{firstValue}" />
                        </c:if>
                        
                        <f:selectItems value="#{values}" var="#{var}" itemLabel="#{itemLabel}" itemDisabled="#{itemDisabled}"/>
                        
                        <c:if test="#{not empty ajuda}">
                            <p:tooltip followMouse="true" direction="top-right" showDelay="500" styleClass="tooltip">
                                <h:outputText escape="false" value="#{ajuda}" />
                            </p:tooltip>
                        </c:if>
                        
                        <p:ajax update="#{form}" event="#{ajaxevent}" global="#{ajaxglobal}" disabled="#{not update}"/>
                    </seinfrac:selectOneListbox>
                    
                    <h:outputText id="#{id}-readonly" value="#{value}" class="form-control readonly #{styleClass}" rendered="#{readonly}" />
                    
                    <h:outputText value="*" class="input required" rendered="#{required and empty label}" />
                </div>
            </div>
        </c:if>
        
        <c:if test="#{formGroup != true}">
        
            <h:column rendered="#{not empty label and not intable}">
                <div class="#{labelClass}">
                    <h:outputLabel value="*" styleClass="required" rendered="#{required}"/>
                    <h:outputLabel value="#{label}:" for="#{id}" />
                </div>
            </h:column>
            
            <div class="#{not intable ? valueClass : ''} #{not intable ? colClass : ''} #{not intable ? 'margin-input' : ''}">
                <h:selectOneListbox disabled="#{disabled}" id="#{id}" value="#{value}" size="#{size}" onkeypress="#{onkeypress}" requiredMessage="#{requiredMessage}"
                        onblur="#{onblur}" rendered="#{not readonly}" style="#{style}" styleClass="form-control #{styleClass}" onkeyup="#{onkeyup}" required="#{required}"
                        converter="#{converter}" allowNewItem="#{allowNewItem}" >
                    
                    <c:if test="#{not empty firstValue or not empty firstLabel}">
                        <f:selectItem itemLabel="#{firstLabel}" itemValue="#{firstValue}" />
                    </c:if>
                    
                    <f:selectItems value="#{values}" var="#{var}" itemLabel="#{itemLabel}" itemDisabled="#{itemDisabled}"/>
                    
                    <c:if test="#{not empty ajuda}">
                        <p:tooltip followMouse="true" direction="top-right" showDelay="500" styleClass="tooltip">
                            <h:outputText escape="false" value="#{ajuda}" />
                        </p:tooltip>
                    </c:if>
                    
                    <p:ajax update="#{form}" event="#{ajaxevent}" global="#{ajaxglobal}" disabled="#{not update}"/>
                </h:selectOneListbox>
                
                <h:outputText id="#{id}-readonly" value="#{value}" class="form-control readonly #{styleClass}" rendered="#{readonly}" />
                
                <h:outputText value="*" class="input required" rendered="#{required and empty label}" />
            </div>
        </c:if>
        
    </f:subview>
    
</ui:composition>

