<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:c="http://java.sun.com/jstl/core"
        xmlns:cc="http://java.sun.com/jsf/composite"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
        xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

    <c:if test="#{empty styleClass}"><c:set var="styleClass" value="primary"/></c:if>
    
    <c:set var="tabSelecionada" value="#{viewTab.getSelecionada(formulario)}" />

    <c:set var="selected" value="#{empty tabSelecionada ? padrao == true : tabSelecionada eq tab}" />

    <li class="#{selected ? 'active' : '' } #{styleClass} maiusculo">
        <p:commandLink update="@form" global="#{global == 'true'}" actionListener="#{viewTab.selecionar(formulario, tab)}"
                disabled="#{disabled == true}">
            <seinfra:icon icon="#{icon}"/> <span class="hidden-xs">${titulo}</span>
        </p:commandLink>
    </li>

</ui:composition>
