<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets">

	<ul class="breadcrumb toolbar col-direito">

		<f:subview rendered="#{filtrar == true}">
			<li>
				<h:commandButton style="background: none; border: none" update="@form" />
			<h:commandLink update="@form"
					styleClass="neutral-icon">
					<i class="fa fa-search" />
					<span>#{msg['toolbar.filtrar']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{novo == true}">
			<li><p:commandLink styleClass="success-icon"
					actionListener="#{formulario.novo()}" update="@form"
					oncomplete="abrirPopup('#{model}Popup');">
					<i class="fa fa-file" />
					<span> #{msg['toolbar.novo']} </span>
				</p:commandLink></li>
		</f:subview>

		<f:subview rendered="#{editar == true}">
			<li><h:commandLink action="#{formulario.editar}"
					styleClass="neutral-icon">
					<i class="fa fa-edit" />
					<span>#{msg['toolbar.editar']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{limpar == true}">
			<li><h:commandLink action="#{formulario.limpar}"
					styleClass="neutral-icon">
					<i class="fa fa-eraser" />
					<span>#{msg['toolbar.limpar']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{enviar == true}">
			<li><h:commandLink action="#{formulario.enviar}"
					styleClass="neutral-icon" rendered="#{empty enviarPopup}">
					<seinfra:icon icon="enviar" />
					<span>#{msg['toolbar.enviar']}</span>
				</h:commandLink> <p:link href="#" onclick="abrirPopup('#{enviarPopup}');"
					styleClass="neutral-icon" rendered="#{not empty enviarPopup}">
					<seinfra:icon icon="enviar" />
					<span>#{msg['toolbar.enviar']}</span>
				</p:link></li>
		</f:subview>

		<f:subview rendered="#{salvar == true}">
			<li><h:commandLink action="#{formulario.salvar}"
					styleClass="success-icon">
					<i class="far fa-save" />
					<span>#{msg['toolbar.salvar']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{calcular == true}">
			<li><h:commandLink action="#{formulario.calcular}"
					styleClass="neutral-icon">
					<i class="fa fa-calculator" />
					<span>#{msg['toolbar.calcular']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{atualizar == true}">
			<li><h:commandLink action="#{formulario.atualizar}"
					styleClass="neutral-icon">
					<i class="fa fa-sync" />
					<span>#{msg['toolbar.atualizar']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview
			rendered="#{excluir == true and not empty formulario and not empty formulario.selecionado and not empty formulario.selecionado.id}">
			<li><h:commandLink action="#{formulario.excluir}"
					styleClass="alert-icon"
					pt:data-confirma-mensagem="#{msg['commons.mensagem.confirma.exclusao']}">
					<i class="fa fa-trash" />
					<span>#{msg['toolbar.excluir']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{importar == true}">
			<li><h:commandLink action="#{formulario.importar}"
					styleClass="success-icon">
					<i class="fa fa-upload" />
					<span>#{msg['toolbar.importar']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{salvarPlanejamento == true}">
			<li><h:commandLink action="#{formulario.salvarPlanejamento}"
					styleClass="success-icon">
					<i class="far fa-save" />
					<span>#{msg['toolbar.salvar']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{relatorioPdf == true}">
			<li><h:commandLink action="#{formulario.relatorio}"
					styleClass="neutral-icon">
					<i class="fa fa-file-pdf" />
					<span>#{msg['toolbar.relatorio']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{relatorioXls == true}">
			<li><h:commandLink action="#{formulario.relatorioXLS}"
					styleClass="neutral-icon">
					<i class="fa fa-file-excel" />
					<span>#{msg['toolbar.excel']}</span>
				</h:commandLink></li>
		</f:subview>

		<f:subview rendered="#{cancelar != false and fechar != false}">
			<li><h:commandLink url="/pedido/" styleClass="alert-icon"
					immediate="true">
					<i class="fa fa-times" />
					<span>#{msg['toolbar.cancelar']}</span>
				</h:commandLink></li>
		</f:subview>

	</ul>
</ui:composition>
