<ui:composition template="/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:seinfra="http://www.seinfra.ce.gov.br/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    	<f:metadata>
		<f:viewParam name="dummy"/>
		<f:event listener="#{graficoPedidosCriadosBean.preRender}" type="preRenderView"/>
	</f:metadata>
    
    <ui:define name="title"><img src="resources/seinfra/img/logo-externo-horizontal.png" height="50px" /></ui:define>
    <ui:define name="operacao">${msg['application.version']}</ui:define>
    <ui:define name="sideBar"><seinfra:menuLeft /></ui:define>
    
    	<ui:define name="corpo">
		
		<p:chart type="line" model="#{graficoPedidosCriadosBean.model}" style="width: 0px auto; height: 400px;" />
		
	</ui:define>
	
	

</ui:composition>
