<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://xmlns.jcp.org/jstl/core" 
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    
    <c:set var="contextPath" value="#{facesContext.externalContext.request.contextPath}" />
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Login</title>
            <link rel="shortcut icon" type="image/png" href="resources/op/img/logo-interno-sigla.png"/>
		    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
		    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css"/>
		    <link rel="stylesheet" href="resources/font-awesome/css/font-awesome.min.css"/>
		    <link rel="stylesheet" href="resources/ionicons/css/ionicons.min.css"/>
		    <link rel="stylesheet" href="resources/weather-icons/css/weather-icons.min.css"/>
		    <link rel="stylesheet" href="resources/dist/css/AdminLTE.min.css"/>
		    <link rel="stylesheet" href="resources/op/css/geral-bootstrap.css"/>
		    <link rel="stylesheet" href="resources/op/css/geral-primefaces.css"/>
		    <link rel="stylesheet" href="resources/op/css/geral.css"/>
		    <link rel="stylesheet" href="resources/dist/css/skins/skin-blue.min.css"/>
		    
		         <!-- REQUIRED JS SCRIPTS -->

    <h:outputScript library="primefaces" name="jquery/jquery.js" />
    <script src="resources/bootstrap/js/bootstrap.js"></script>
    <script src="resources/dist/js/app.min.js"></script>
    <script src="resources/bootbox/js/bootbox.js"></script>
    <script src="resources/op/js/geral.js"></script>
    <script src="resources/responsive-tabs/js/responsive-tabs.js"></script>
    <script src="resources/iCheck/icheck.min.js"></script>
    <script src="resources/select2/js/select2.full.min.js"></script>
    <script src="resources/datarangerpicker/js/moment.min.js"></script>
    <script src="resources/datarangerpicker/js/daterangepicker.js"></script>
    <script src="resources/highcharts/highcharts.js"></script>
    <script>Highcharts.setOptions({ lang: { decimalPoint: ',', thousandsSep: '.' } });</script>
    
    <script src="resources/input-mask/js/inputmask.js"></script>
    <script src="resources/input-mask/js/inputmask.extensions.js"></script>
    <script src="resources/input-mask/js/inputmask.date.extensions.js"></script>
    <script src="resources/input-mask/js/inputmask.numeric.extensions.js"></script>
    <script src="resources/input-mask/js/inputmask.phone.extensions.js"></script>
    <script src="resources/input-mask/js/inputmask.regex.extensions.js"></script>
    <script src="resources/input-mask/js/jquery.inputmask.bundle.js"></script>
    <script src="resources/input-mask/js/jquery.inputmask.js"></script>

        <h:outputStylesheet library="css" name="sistema.css"/>
    </h:head>
    <h:body class="hold-transition login-page">
    <f:metadata>
    		<f:viewParam name="dummy" />
    		<f:event listener="#{loginBean.preRender}" type="preRenderView" />
    	</f:metadata>
    
    <div class="login-box" style="margin: 5% auto;">
      <div class="login-logo">
        <a href="#{contextPath}"><img src="resources/seinfra/img/logo-externo-vertical.png" height="250px" title="Obra Plus"/></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Autentique-se</p>
        
    		<h:form id="frm" prependId="false">
            			<p:messages id="messages" autoUpdate="true" closable="true" />
        
           <div class="form-group has-feedback">
            <input type="text" id="username" name="username" value="#{loginBean.email}" maxlength="90" class="form-control" autofocus="true"/>
            <span class="fa fa-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" id="password" name="password" placeholder="Password" maxlength="32" class="form-control"/>
            <span class="fa fa-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h:commandButton id="login-button" action="#{loginBean.login}" value="Entrar" styleClass="btn btn-primary btn-block btn-flat" />
            </div>
          </div>
          <br/>
        </h:form>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    
  </h:body>
</html>